<div class="form-group">
    <label for="{{ criterion.id }}" class="col-2 col-form-label">{{ criterion.name }}</label>
    <div class="radio">
        <label><input type="radio" name="{{ criterion.id }}"
                {{ "checked" if answer and answer.value=="yes" }} value="yes" required>Yes</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="{{ criterion.id }}"
                {{ "checked" if answer and answer.value=="yesbut" }} value="no">Yes, but</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="{{ criterion.id }}"
                {{ "checked" if answer and answer.value=="no" }} value="no">No</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="{{ criterion.id }}"
                {{ "checked" if answer and answer.value=="nobut" }} value="no">No, but</label>
    </div>
</div>