coreapi
django
django-allauth
django-bootstrap-form
django-extensions
django-filter
django-livereload-server
django-rest-auth
djangorestframework
drf-yasg
drf-yasg[validation]
dynamic-rest
Pillow
uwsgi