coreapi
django-ajax-selects
django-allauth
django-analytical
django-bootstrap-form
django-cors-headers
django-extensions
django-filter
django-livereload-server
Django==2.0.7
djangorestframework
drf-yasg
dynamic-rest
https://github.com/pennersr/django-allauth/archive/master.zip
pymysql
swagger-spec-validator