{% load filters %}
<span id="{{ html_id }}_wrapper">
  <input
    type="text"
    id="{{html_id}}_text"
    value=""
    autocomplete="off"
    {{ extra_attrs }}
  />
  {% if name == "project" or name == "target" or name == "rubric" %}
  <a
    href="{% url name|to_model|add:'-add' %}{% query _to_field=id _popup=1 %}"
    class="add-another addlink"
    id="add_{{ html_id }}"
    onclick="return showAddAnotherPopup(this);"
  >
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </a>
  {% endif %}
  <input
    type="hidden"
    name="{{name}}"
    id="{{html_id}}"
    value="{{current_id}}"
    data-ajax-select="autocompleteselect"
    data-plugin-options="{{ data_plugin_options }}"
  />
  <div
    id="{{html_id}}_on_deck"
    class="results_on_deck row">
    <div>
      {{current_repr|safe}}
    </div>
  </div>
  {% block extra_script %}
  <script>
    $('#{{html_id}}_on_deck').bind('added', function() {
      render_insignia()
    })
  </script>
  {% endblock %}
  {% block help %}
    {% if help_text %}
      <p class="help">
        {{help_text}}
      </p>
    {% endif %}
  {% endblock %}
</span>