{% load filters %}
<div class="{% if embedded %}col-sm-12{% else %}col-md-3 col-sm-6{% endif %}">
  <div class="panel panel-default" style="height: 320px">
    <div class="panel-body text-center">
      <div class="image-container">
        <a href="{% url model|add:'-detail' item.id %}" class="image-link">
          <img
            {% if item.image %}
              src="{{ item.image }}"
            {% else %}
              src="{% static 'image/digital_object.png' %}"
            {% endif %}
          />
        </a>
        {% if model == "digital_object" and user.is_authenticated %}
          <div>
            <a
              href="{% url 'assessment-perform' %}{% if parent_model %}{% query parent_model parent_item.id target=item.id %}{% else %}{% query target=item.id %}{% endif %}"
              class="btn btn-xs"
              style="padding:5px;border:2px solid #428bca;display:inline-block;position: absolute;top: 10px; left: 25px; box-shadow: 0 0 4px 4px white;"
            >
              Assess
            </a>
          </div>
        {% endif %}
        {% if model != "metric" %}
          <div
            class="insignia embed-image"
            style="width: 40px; height: 40px;"
            data-target='{ "{{ model }}": {{ item.id }}{% if parent_model %}, "{{ parent_model }}": {{ parent_item.id }}{% endif %} }'
          ></div>
        {% endif %}
      </div>
      {% if item.type %}
        <span
          class="label"
          style="background-color:#666666;color:white;font-size:10px;position:absolute;top:164px;right:25px;"
        >
          {% if model == "project" %}
            project
          {% else %}
            {{ item.type }}
          {% endif %}
        </span>
      {% endif %}
      <div class="caption text-left">
        <p class="item-title" style="margin-right:60px;">
          {{ item.title }}
        </p>
        <p>{{ item.description|limit:100 }}</p>
        <div style="position:absolute;bottom:30px;margin-right:60px;">
          <div style="font-size:10px;color:gray;margin-top:5px;">
            {% if item.tags %}
              {% for tag in item.tags_as_list %}
                <span class="glyphicon glyphicon-tag"></span>
                  {{ tag }}
              {% endfor %}
            {% endif %}
          </div>
        </div>
        {% has_permission item 'modify' as edit_perm %}
        {% if edit_perm %}
        <div style="position:absolute;bottom:25px;right:25px;">
          <a href="{% url model|add:'-modify' item.id %}">
            <span
              class="glyphicon glyphicon-edit"
              style="font-size:20px;color:#666666;"
            ></span>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>