{% load filters %}
<div class="row">
  {% for item in items %}
  <div class="col-md-3 col-sm-6">
    <div class="panel panel-default" style="height: 320px">
        <div class="panel-body text-center">
          <a href="{% url model|add:'-detail' item.id %}">
            <div class="image-container">
              {% if item.image %}
                <img src="{{ item.image }}" />
              {% else %}
                <img src="http://amp.pharm.mssm.edu/datasets2tools/static/icons/tool.png">
              {% endif %}
            </div>
        </a>
        <div class="caption text-left">
            <div
              class="insignia embed-image"
              style="width: 60px; height: 60px;"
              data-target='{ "{{ model }}": {{ item.id }} }'
            />
            <h4><a href="{{ item.url }}" target=_blank>{{ item.title }}</a></h4>
            {% if item.description|length > 100 %}
                <p>{{ item.description|limit:100 }}...</p>
            {% else %}
                <p>{{ item.description }}</p>
            {% endif %}
            {% if item.type %}
              <span class="label label-default">
                {{ item.type }}
              </span>
            {% endif %}
            {% if item.tags %}
              {% for tag in item.tags_as_list %}
                <span class="label label-success">
                  {{ tag }}
                </span>
              {% endfor %}
            {% endif %}
          </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="col-md-3 col-sm-6">
    <div class="panel panel-default" style="height: 320px">
        <div class="panel-body text-center">
          <a href="{% url model|add:'-create' %}">
            <div class="image-container">
              <span
                style="font-size: 4em"
                class="glyphicon glyphicon-plus"
              ></span>
            </div>
          </a>
          <div class="caption text-left">
            <h4><a href="{% url model|add:'-create' %}">Create New {{ model|unslugify }}</a></h4>
          </div>
      </div>
    </div>
  </div>
</div>
