{% load filters %}
<div class="row">
  {% for item in items %}
  {% include "fairshake/generic/element.html" %}
  {% endfor %}
  <div class="col-md-3 col-sm-6">
    <div class="panel panel-default" style="height: 320px">
        <div class="panel-body text-center">
          <a href="{% url model|add:'-create' %}">
            <div class="image-container">
              <span
                style="font-size: 4em"
                class="glyphicon glyphicon-plus"
              ></span>
            </div>
          </a>
          <div class="caption text-left">
            <h4><a href="{% url model|add:'-create' %}">Create New {{ model|unslugify }}</a></h4>
          </div>
      </div>
    </div>
  </div>
</div>
