{% load filters %}
<div class="row">
  <div class="col-xs-12">
    <div class="caption" align="center" style="width:700px; margin:0 auto;">
      <div style="position: relative;width:280px;height:280px;" class="image-container">
        <span class="helper"></span><img style="max-width:200px;max-height:200px;"
          {% if item.image %}
              src="{{ item.image }}"
          {% else %}
              src="{% static 'image/digital_object.png' %}"
          {% endif %}/>
        <div
          class="insignia embed-image"
          style="width: 40px; height: 40px;"
          data-target='{ "{{ model }}": {{ item.id }} }'
        />
      </div>
      <h3 class="helper" style="margin-top:10px;"><a href="{{ item.url }}" target=_blank>{{ item.title }}</a></h3>
      {% if object_type != "metric" %}
          <span class="label label-success" style="font-size:10px;display:inline-block;vertical-align:middle;">{{ item.type }}</span>
      {% endif %}
      <p>{{ item.description }}</p>
      {% if item.tags %}
        {% if object_type == "metric" %}
            <p>Answer type: {{ item.type }}</p>
        {% endif %}
        {% if item.principle %}
            <p>Principle: {{ item.principle }}</p>
        {% endif %}
        {% if item.license %}
            <p>License: {{ item.license }}</p>
        {% endif %}
        <p>
          <strong>Tags:</strong>
          {% for tag in item.tags_as_list %}
            <span class="glyphicon glyphicon-tag"></span>
                {{ tag }}
          {% endfor %}
        </p>
      {% endif %}
    </div>
  </div>
  <div class="container">
    {% for model, items in children.items %}
      <div class="col-xs-12">
        <hr />
        <h2>Associated {{ model|unslugify }}s</h2>
        {% include "fairshake/generic/list.html" %}
      </div>
    {% endfor %}
    </div>
  </div>
</div>
