{% load filters %}
<div class="container">
  {% include "fairshake/generic/retrieve_element.html" %}
  <h1 class="text-left">{{ model|unslugify }} Analytics</h1>
  {% for plot in plots %}
    <div class="col-lg-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="{{ plot }}-loader" style="position:absolute; z-index:1;width: 100%; top: 150px; height: 400px; text-align: center; vertical-align: middle;">
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
          </div>
          <iframe
            id="{{ plot }}-frame"
            style="border: 0; width: 100%; height: 400px;"
            onload="javascript:document.getElementById('{{ plot }}-loader').remove()"
            src="/stats/{% query model=model item=item.id plot=plot %}"
          >
          </iframe>
        </div>
      </div>
    </div>
  {% endfor %}
</div>