{% load bootstrap %}
{% load filters %}
<form
  role="form"
  action="{% url model|add:'-add' %}?target={{ item.target.slug }}&rubric={{ item.rubric.slug }}{% if item.project %}&project={{ item.project.slug }}{% endif %}"
  enctype="multipart/form-data"
  method="POST"
  novalidate
>
  <legend>
    {{ model|unslugify }}
    of <a href="{% url 'digital_object-detail' item.target.slug %}">{{ item.target.title }}</a>
    with <a href="{% url 'rubric-detail' item.rubric.slug %}">{{ item.rubric.title }}</a>
    {% if item.project %}
      for <a href="{% url 'project-detail' item.project.slug %}">{{ item.project.title }}</a>
    {% endif %}
    &nbsp;
    <a href="{{ request.get_full_path }}&prepare">
      <span
        class="glyphicon glyphicon-edit"
        style="font-size:20px;color:#666666;"
      ></span>
    </a>
  </legend>
  {% csrf_token %}
  {% for answer in answers %}
    <div class="row">
      {% with model="metric" item=answer.instance.metric %}
        {% include "fairshake/generic/element.html" %}
      {% endwith %}
      <div class="col-sm-6 col-md-9">
        <h4>{{ answer.instance.metric.title }}</h4>
        {{ answer.form|bootstrap_inline }}
      </div>
    </div>
  {% endfor %}
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
