{% load filters %}
<li style="white-space: nowrap; display: table;">
  <div style="display: table-row;">
    <div
      class="insignia"
      style="display: table-cell; width: 40px; height: 40px;"
      data-target='{ "id": "{{ item.slug }}" }'
    >
    </div>
    <div style="display: table-cell; vertical-align: middle; padding-left: 10px;">
      {{ model|unslugify }}
      of <a href="{% url 'digital_object-detail' item.target.slug %}">{{ item.target.title }}</a>
      with <a href="{% url 'rubric-detail' item.rubric.slug %}">{{ item.rubric.title }}</a>
      {% if item.project %}
        for <a href="{% url 'project-detail' item.project.slug %}">{{ item.project.title }}</a>
      {% endif %}
      &nbsp;
      <a href="{% url model|add:'-perform' %}?target={{ item.target.slug }}&rubric={{ item.rubric.slug }}&project={{ item.project.slug }}">
        <span
          class="glyphicon glyphicon-edit"
          style="font-size:20px;color:#666666;"
        ></span>
      </a>
    </div>
  </div>
</li>