{% load filters %}
<li style="white-space: nowrap; display: table;">
  <div style="display: table-row;">
    <div
      class="insignia"
      style="display: table-cell; width: 40px; height: 40px;"
      data-target='{ "id": "{{ item.id }}" }'
    >
    </div>
    <div style="display: table-cell; vertical-align: middle; padding-left: 10px;">
      <a href="{% url 'assessment-detail' item.id %}">{{ model|unslugify }}</a>
      of <a href="{% url 'digital_object-detail' item.target.id %}">{{ item.target.title }}</a>
      with <a href="{% url 'rubric-detail' item.rubric.id %}">{{ item.rubric.title }}</a>
      {% if item.project %}
        for <a href="{% url 'project-detail' item.project.id %}">{{ item.project.title }}</a>
      {% endif %}
      &nbsp;
      <a href="{% url model|add:'-perform' %}{% query target=item.target.id rubric=item.rubric.id project=item.project.id %}">
        <span
          class="glyphicon glyphicon-edit"
          style="font-size:20px;color:#666666;"
        ></span>
      </a>
      {% has_permission item 'delete' as delete_perm %}
      {% if delete_perm %}
      <a href="{% url model|add:'-remove' item.id %}{% query target=item.target.id rubric=item.rubric.id project=item.project.id %}">
        <span
          class="glyphicon glyphicon-remove"
          style="font-size:20px;color:#666666;"
        ></span>
      </a>
      {% endif %}
    </div>
  </div>
</li>