{% extends "base.html" %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'style/index.css' %}" />
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="title">
        <h2>FAIRshake</h2>
    </div>
    <div class="subtitle"><h4>A System to Evaluate Digital Objects</h4></div>
    <div class="start">
        <div class="btngroup">
            {% if current_user %}
                <form action="/projects/" method="get">
                    <button type="submit" class="btn btn-default">Evaluate a Project</button>
                </form>
            {% else %}
                <form action="/register/" method="get">
                    <button type="submit" class="btn btn-default">Evaluate a Project</button>
                </form>
            {% endif %}
        </div>
        <div class="btngroup">
            {% if current_user %}
                <form action="/start_project/" method="get">
                    <button type="submit" class="btn btn-default">Start a Project</button>
                </form>
            {% else %}
                <form action="/register/" method="get">
                    <button type="submit" class="btn btn-default">Start a Project</button>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="featproject">
        <h3 class="project-head text-left">Featured Projects</h3>
        {% for project in top_projects %}
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <a href="/project/{{ project.id }}/resources/">
                        <div class="project-image-container">
                            <img class="project-image" src="{{ project.image }}">
                        </div>
                    </a>
                    <div class="caption text-left">
                        <p class="project-title">{{ project.name }}</p>
                        <p class="project-desc">{{ project.description }}</p>
                    </div>
                </div>
                <div class="panel-body">
                    <form action="/project/{{ project.id }}/resources/" method="get">
                        <button type="submit" class="btn btn-default btn-sm">Evaluate</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
