<!DOCTYPE html>
<html lang="en">
<head>
    <title>FAIRshake</title>
    {% block head %}
        <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

        <title>{% block title %}{% endblock %}</title>

        {% block style %}
            <link rel="stylesheet" href="{% static 'style/base.css' %}" />
        {% endblock %}
    {% endblock %}
</head>
<body>
<div id="header">
    {% block header %}
        <nav class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <a id="navbar-logo" class="navbar-brand" href="/" style="display: table;">
                    <img src="{% static 'image/icon-32.png' %}" style="display: table-cell; vertical-align: middle; margin-right: 10px;">
                    <div style="display: table-cell; vertical-align: middle;">FAIRshake</div>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li{% if active_page == "projects" %} class="active"{% endif %}>
                    <a href="/project/" class="headx">Projects</a>
                </li>
                <li{% if active_page == "rubrics" %} class="active"{% endif %}>
                    <a href="/rubric/" class="headx">Rubrics</a>
                </li>
                <li{% if active_page == "chrome_extension" %} class="active"{% endif %}>
                    <a href="/chrome_extension" class="headx">Install Chrome Extension</a>
                </li>
                <li{% if active_page == "bookmarklet" %} class="active"{% endif %}>
                    <a href="/bookmarklet" class="headx">Install Bookmarklet</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li{% if active_page == "login" %} class="active"{% endif %}>
                        <a href="/accounts/login/" class="headx">Login</a>
                    </li>
                    <li{% if active_page == "register" %} class="active"{% endif %}>
                        <a href="/accounts/signup/" class="headx">Sign up</a>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle headx" data-toggle="dropdown" role="button"
                            aria-haspopup="true"
                            aria-expanded="false">{{ user.email }} ({{ user.username }})</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/assessment?assessor={{ user.id }}">Evaluated Projects</a>
                            </li>
                            <li>
                                <a href="/accounts/email/">Settings</a>
                            </li>
                            <li role="separator" class="divider" />
                            <li>
                                <a href="/accounts/logout/">Logout</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endblock %}
</div>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
        <ul class="footer-block">
            <div>
                <a class="footerLink" href="https://nihdatacommons.us/" target="_blank">Team Nitrogen, KC1, DCPPC</a>
            </div>
            <div>
                <a class="footerLink" href="http://icahn.mssm.edu/research/labs/maayan-laboratory" target="_blank">Ma'ayan Laboratory of Computational Systems Biology</a>
            </div>
            <div>
                <a class="footerLink" href="http://icahn.mssm.edu/" target="_blank">Icahn School of Medicine at Mount Sinai</a>
            </div>
        </ul>
    {% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- TODO: Obtain this dependency with requirejs -->
<script src="{% static 'rest_framework/js/coreapi-0.1.1.js' %}"></script>
<script src="/api/v2/coreapi/schema.js"></script>
{% block script %}
    <script>
    $(document).ready(function () {
        $('.insignia').each(function (ind, ele) {
            require(['{% static "scripts/insignia.js" %}'], function (insignia) {
                insignia.build_svg_from_score(
                    ele,
                    eval($(ele).attr('data-target')),
                )
            })
        })
    })
    </script>
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
</body>
</html>
