{% extends "fairshake/base.html" %}

{% block content %}
<div class="container">
  <h1 class="text-left">Contributors and Partners</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="thumbnail" style="padding: 10px; text-align: center;">
        <a href="http://icahn.mssm.edu/research/labs/maayan-laboratory">
          <img src="{% static 'image/partners/mssm.png' %}" />
        </a>
        <div class="caption">
          <ul style="list-style: none; padding:0; margin: 0;">
            <li><a href="http://icahn.mssm.edu/research/labs/maayan-laboratory">Ma'ayan Laboratory of Computational Systems Biology</a></li>
            <li><a href="http://icahn.mssm.edu/">Icahn School of Medicine at Mount Sinai</a></li>
          </ul>
        </div>
      </div>
      <div class="thumbnail" style="padding: 10px; text-align: center;">
        <a href="https://www.elixir-europe.org/">
          <img
            src="{% static 'image/partners/elixir.png' %}"
            style="background-color: #023452; padding: 5px; height: 125px;"
          />
        </a>
        <div class="caption">
          <a href="https://www.elixir-europe.org/">ELIXIR</a>
        </div>
      </div>
      <div class="thumbnail" style="padding: 10px; text-align: center;">
        <a href="https://www.maastrichtuniversity.nl/">
          <img src="{% static 'image/partners/maastricht.svg' %}" />
        </a>
        <div class="caption">
          <a href="https://www.maastrichtuniversity.nl/">Maastricht University</a>
        </div>
      </div>
      <div class="thumbnail" style="padding: 10px; text-align: center;">
        <a href="https://lpi.oregonstate.edu/">
          <img src="{% static 'image/partners/oregonstate.svg' %}" />
        </a>
        <div class="caption">
          <a href="https://lpi.oregonstate.edu/">Linus Pauling Institute</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="thumbnail" style="padding: 10px; text-align: center;">
        <a href="https://www2.deloitte.com/us/en.html">
          <img
            src="{% static 'image/partners/deloitte.svg' %}"
            style="background-color:black; width: 250px; border:10px solid black;"
          />
        </a>
        <div class="caption">
          <a href="https://www2.deloitte.com/us/en.html">Deloitte</a>
        </div>
      </div>
      <div class="thumbnail" style="padding: 10px; text-align: center;">
        <a href="https://www.go-fair.org/">
          <img src="{% static 'image/partners/gofair.svg' %}" />
        </a>
        <div class="caption">
          <a href="https://www.go-fair.org/">GO-FAIR</a>
        </div>
      </div>
      <div class="thumbnail" style="padding: 10px">
        <a href="https://commonfund.nih.gov">
          <img src="{% static 'image/partners/commonfund.png' %}" style="width: 200px;" />
        </a>
        <div class="caption">
          <ul style="list-style: none; padding:0; margin: 0;">
            <li><a href="https://commonfund.nih.gov/commons/awardees">NIH Data Commons Pilot Phase Consortium</a></li>
            <li><a href="https://commonfund.nih.gov/commons">NIH Data Commons</a></li>
            <li><a href="https://commonfund.nih.gov">NIH Common Fund</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="thumbnail" style="padding: 10px; text-align: center;">
        <a href="http://www.oerc.ox.ac.uk/">
          <img src="{% static 'image/partners/oxford.jpg' %}" />
        </a>
        <div class="caption">
          <a href="http://www.oerc.ox.ac.uk/">Oxford e-Research Centre</a>
        </div>
      </div>
      <div class="thumbnail" style="padding: 10px; text-align: center;">
        <a href="https://renci.org/">
          <img src="{% static 'image/partners/renci.png' %}" />
        </a>
        <div class="caption">
          <a href="https://renci.org/">RENCI</a>
        </div>
      </div>
      <div class="thumbnail" style="padding: 10px; text-align: center;">
        <a href="https://welcome.miami.edu/">
          <img src="{% static 'image/partners/miami.png' %}" />
        </a>
        <div class="caption">
          <a href="https://welcome.miami.edu/">University of Miami</a>
        </div>
      </div>
      <div class="thumbnail" style="padding: 10px; text-align: center;">
        <a href="https://dockstore.org/">
          <img src="{% static 'image/partners/dockstore.png' %}" style="width: 100px;" />
        </a>
        <div class="caption">
          <a href="https://dockstore.org/">Dockstore</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
