{% extends "fairshake/base.html" %}

{% block header %}
  {% with active_page="index" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>FAIRshake</h2>
      <h4>A System to Evaluate the FAIRness of Digital Objects</h4>
      <p>&nbsp;</p>
    </div>
    <div class="col-sm-offset-1 col-sm-9 text-center">
      <form class="form" method="GET">
        <div
          class="input-group input-group-lg"
        >
          <input
            aria-label="Search"
            autofocus
            class="form-control"
            name="q"
            placeholder="Search FAIRshake for Projects, Digital Objects, Rubrics, and Metrics"
            style="flex: 1 0 auto"
            type="text"
            value="{{ query }}"
          />
          <div class="input-group-btn">
            <button
              type="submit"
              class="btn btn-primary"
            >
              Search
            </button>
          </div>
        </div>
        {% if query %}
          <div class="well">
            <label class="checkbox-inline">
              <input
                name="projects"
                type="checkbox"
                value="1"
                onchange="this.form.submit()"
                {% if filter_projects %}checked{% endif %}
              >
              Projects
            </label>
            <label class="checkbox-inline">
              <input
                name="digitalobjects"
                type="checkbox"
                value="1"
                onchange="this.form.submit()"
                {% if filter_digital_objects %}checked{% endif %}
              >
              Digital Objects
            </label>
            <label class="checkbox-inline">
              <input
                name="rubrics"
                type="checkbox"
                value="1"
                onchange="this.form.submit()"
                {% if filter_rubrics %}checked{% endif %}
              >
              Rubrics
            </label>
            <label class="checkbox-inline">
              <input
                name="metrics"
                type="checkbox"
                value="1"
                onchange="this.form.submit()"
                {% if filter_metrics %}checked{% endif %}
              >
              Metrics
            </label>
          </div>
        {% else %}
          <input
            name="projects"
            type="hidden"
            value="1" />
          <input
            name="digitalobjects"
            type="hidden"
            value="1" />
          <input
            name="rubrics"
            type="hidden"
            value="1" />
          <input
            name="metrics"
            type="hidden"
            value="1" />
        {% endif %}
      </form>
      <p>&nbsp;</p>
    </div>
    {% if query %}
      <div class="col-sm-12">
        {% if not items %}
          No results with this query.
        {% endif %}
        {% for item in items %}
          {% with model=item.model_name %}
            {% include "fairshake/generic/element.html" %}
          {% endwith %}
        {% endfor %}
        {% with url_prefix="q="|add:query %}
          {% include "fairshake/generic/page_nav.html" %}
        {% endwith %}
      </div>
    {% else %}
      <div class="col-sm-12">
        <h4>Featured Project & Rubric</h4>
        {% for item in featured %}
          <div class="col-sm-6">
          {% with model=item.model_name embedded=True %}
            {% include "fairshake/generic/element.html" %}
          {% endwith %}
          </div>
        {% endfor %}
      </div>
      <div class="col-sm-12">
        <p>&nbsp;</p>
        <p style="font-size: 75%">
          Please acknowledge FAIRshake in your publications by citing the following references:<br />
          Clarke et al. <b>FAIRshake: toolkit to evaluate the findability, accessibility, interoperability, and reusability of research digital resources</b><br />
          bioRxiv 657676; doi: <a href="https://doi.org/10.1101/657676">https://doi.org/10.1101/657676</a>
        </p>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
