{% extends "fairshake/base.html" %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'style/index.css' %}" />
{% endblock %}

{% block header %}
  {% with active_page="index" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="title">
        <h2>FAIRshake</h2>
    </div>
    <div class="subtitle"><h4>A System to Evaluate Digital Objects</h4></div>
    <div class="start">
        <input class="form-control" type="text" placeholder="Search FAIRshake for Projects, Digital Objects, Rubrics, and Metrics" aria-label="Search">
    </div>
</div>
{% endblock %}
