{% extends "fairshake/base.html" %}
{% load filters %}

{% block header %}
    {{ block.super }}

    {% block style %}
        {{ block.super }}
        <link rel="stylesheet" href="{% static 'style/project_resources.css' %}" />
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="heading">
            <div class="title">
                <h2>{{ project.title }}<small> - Resources List</small></h2>
                <h4>{{ project.description }} </h4>
            </div>
{#            {% if user.is_authenticated %}#}
                <div class="btn-group" id="listgrpbtns">
                    <a class="btn btn-default listgrpbtn active">Resources List</a>
                    <a class="btn btn-default listgrpbtn" href="/project/{{ project.id }}/my_evaluations">My Evaluations</a>
                </div>
{#            {% endif %}#}
        </div>
        <table class="table table-responsive table-hover">
            <thead>
            <tr>
{#                {% if user.is_authenticated %}#}
                    <th>Select</th>
{#                {% endif %}#}
                <th>Name</th>
                <th>ID</th>
                <th>Description</th>
                <th># of Evaluations</th>
                <th>All Evaluations</th>
            </tr>
            </thead>
            <tbody>
            <form action="/evaluation/" method="GET" id="select-resource-form">
                {% for resource in resources %}
                    <tr class="tablerow">
{#                        {% if user.is_authenticated %}#}
                            <td>
                                <div class="radio">
                                    {% if resource in user_resources %}
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    {% else %}
                                        <label><input type="radio" id="resource_id" name="resource_id"
                                                      value={{ resource.id }} required></label>
                                    {% endif %}
                                </div>
                            </td>
{#                        {% endif %}#}
                        <td>
                            <div class="radiotext">
                                <label for="resource_id">
                                    <a href={{ resource.url }} target="_blank">{{ resource.title }}</a></label>
                            </div>
                        </td>
                        <td>
                            <div class="radiotext">
                                <label for="resource_id">{{ resource.id }}</label>
                            </div>
                        </td>
                        <td>
                            <div class="radiotext">
                                <label for="resource_id"><p>{{ resource.description }}</p></label>
                            </div>
                        </td>
                        <td>
                            <div class="radiotext">
                                <label for="resource_id">{{ resource.n_assessments }}</label>
                            </div>
                        </td>
                        <td class="tdinsig">
                            <div class="insignia">
                                {{ resource.score|jsonify|safe }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </form>
            </tbody>
        </table>
{#        {% if user.is_authenticated %}#}
            <div class="form-actions">
                <button type="submit" class="btn btn-default btn-left" value="Submit" form="select-resource-form">Evaluate</button>
            </div>
{#        {% endif %}#}

{#        <div class="form-actions">#}
{#            <form action="/project/{{ project }}/resources/page/{{ page-1 }}" method="get">#}
{#                <button type="submit" class="btn btn-default btn-left" value="Back" id="back">Back</button>#}
{#            </form>#}
{#        </div>#}
{##}
{#        <div class="form-actions">#}
{#            <form action="/project/{{ project }}/resources/page/{{ page+1}}" method="get">#}
{#                <button type="submit" class="btn btn-default btn-left" value="Next" id="next">Next</button>#}
{#            </form>#}
{#        </div>#}
    </div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
<script src="{% static 'scripts/insignia.js' %}"></script>
<script>
$('.insignia').each(function(ind, el) {
    var $el = $(el)
    var scores = JSON.parse($el.text())
    $el.empty()
    build_insignia_svg(el, scores)
})
$('[data-toggle="tooltip"]').tooltip()
</script>
{% endblock %}
