{% extends "fairshake/base.html" %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'style/start_project.css' %}" />
{% endblock %}

{% block header %}
  {% with active_page="start_project" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
    <div class="tabbar">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">General</a></li>
            <li><a data-toggle="tab" href="#rubrics">Rubrics</a></li>
            <li><a data-toggle="tab" href="#resources">Resources</a></li>
        </ul>

        <div class="container-fluid">
            <form action="/start_project/" class="form-horizontal" id="project-form" method="POST">
                {% csrf_token %}
                <div class="tab-content">
                    <div id="general" class="tab-pane fade in active">
                        <h3>New Project</h3>
                        <div class="gen-content-grp">
                            <h4>Enter Project Information:</h4>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="projectname">Name:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="projectname" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="projectdesc">Description:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="projectdesc" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="projectimage">Project Logo's URL:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="projectimage" required>
                                </div>
                            </div>
                        </div>
                        <div class="gen-content-grp">
                            <div><h4>Added Resources:</h4></div>
                            <table class="table table-striped table-condensed table-gen" id="table-gen-resources">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>URL</th>
                                    <th>Description</th>
                                    <th>Rubric</th>
                                </tr>
                                </thead>
                                <tbody id="table-gen-resources-body">
                                </tbody>
                            </table>
                            <div><h5 id="table-gen-resources-total">Total Resources: </h5></div>
                        </div>
                        <div class="gen-content-grp">
                            <div><h4>Added Rubrics:</h4></div>
                            <table class="table table-striped table-condensed table-gen" id="table-gen-rubrics">
                                <thead>
                                <tr>
                                    <th>Rubric name</th>
                                    <th>Question content</th>
                                    <th>Answer type</th>
                                </tr>
                                </thead>
                                <tbody id="table-gen-rubrics-body">
                                </tbody>
                            </table>
                            <div><h5 id="table-gen-rubrics-total">Total Rubrics: </h5></div>
                        </div>
                        <button type="submit" class="btn btn-default" form="project-form">Finish</button>
                    </div>
                    <div id="rubrics" class="tab-pane fade">
                        <h3>Enter Rubrics for Digital Object Evaluation:</h3>
                        <input type="hidden" name="saved-rubrics-total" id="saved-rubrics-total" value="0">
                        <div id="choose-rubric-option" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="rubric-option" id="rubric-option-existing"
                                       autocomplete="off" value="existing"
                                       checked>Select from existing
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="rubric-option" id="rubric-option-create"
                                       autocomplete="off" value="create">
                                Create your own
                            </label>
                        </div>
                        <div id="select-rubrics">
                            <div class="rubric-section">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <select class="form-control input-field choose-rubric" id="choose-rubric-1">
                                            <option value="" disabled selected>Select one</option>
                                            {% for rubric in rubrics_json %}
                                                <option value="{{ rubric.id }}">{{ rubric.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="input-rubrics" style="display:none;">
                            <div class="rubric-grp" id="input-rubric-1">
                                <input type="hidden" name="rubric-name-1" id="rubric-name-1"
                                       class="rubric-name saved-field">
                                <div class="form-group">
                                    <div>
                                        <label class="control-label">Rubric name:</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control input-field input-rubric-name">
                                    </div>
                                </div>
                                <div class="question-grp" id="input-question-1">
                                    <input type="hidden" name="question-content-1" id="question-content-1"
                                           class="question-content saved-field">
                                    <input type="hidden" name="question-kind-1" id="question-kind-1"
                                           class="question-kind saved-field">
                                    <div class="form-group">
                                        <div>
                                            <label class="control-label">Question content:</label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control input-field input-question-content">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <label class="control-label">Answer type:</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <select class="form-control input-question-kind" id="input-question-kind-1">
                                                <option value="URL" selected>URL</option>
                                                <option value="text">Text</option>
                                                <option value="yesnobut">Yes/No/But</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" id="add-btn-question-1" class="btn btn-default btn-xs add-btn add-btn-question">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add question
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" id="add-btn-rubric" class="btn btn-default btn-xs add-btn">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add rubric
                            </button>
                        </div>
                        <div>
                            <button type="button" id="save-btn-rubrics" class="btn btn-default btn-sm save-btn">
                                Save
                            </button>
                        </div>
                    </div>
                    <div id="resources" class="tab-pane fade">
                        <h3>Enter Digital Objects for Evaluation:</h3>
                        <input type="hidden" name="resources-total" id="resources-total" value="0">
                        <div id="input-resources">
                            <div class="resource-grp" id="input-resource-1">
                                <input type="hidden" name="resource-name-1" id="resource-name-1"
                                       class="resource-name saved-field">
                                <input type="hidden" name="resource-type-1" id="resource-type-1"
                                       class="resource-type saved-field">
                                <input type="hidden" name="resource-url-1" id="resource-url-1"
                                       class="resource-url saved-field">
                                <input type="hidden" name="resource-description-1" id="resource-description-1"
                                       class="resource-description saved-field">
                                <h4>Resource:</h4>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-3">Name:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-resource-name input-field">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-3">Type:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control input-field input-resource-type" id="selector-resource-type">
                                                <option>Tool</option>
                                                <option>Dataset</option>
                                                <option>Repository</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-3">URL:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-resource-url input-field">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-3">Description:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-resource-description input-field">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-3">Rubric:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control input-field input-resource-rubric" id="selector-resource-rubric">
                                                <option value="" disabled selected>Select one</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" id="add-btn-resource" class="btn btn-default btn-xs add-btn">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add resource
                        </button>
                        <div>
                            <button type="button" id="save-btn-resources" class="btn btn-default btn-sm save-btn">Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            var rubrics = {{ rubrics_json|safe }};
            function checkEmptyFields(parentField, childField) {
                var emptyFields = false;
                $(parentField).find($(childField)).each(function () {
                    if (!$.trim($(this).val())) {
                        emptyFields = true;
                    }
                });
                return emptyFields;
            }
            $(".choose-rubric").data("previous",$(this).val());
            $("#choose-rubric-option :input").change(function () {
                if ($(this).val() == "existing") {
                    $("#select-rubrics").css("display", "block");
                    $("#input-rubrics").css("display", "none");
                } else {
                    $("#select-rubrics").css("display", "none");
                    $("#input-rubrics").css("display", "block");

                }
            });
            $("#select-rubrics").on("change", ".choose-rubric", function () {
                $(this).closest(".rubric-section").find(".rubric-grp").remove();
                var thisSelector = $(this);
                var rubric = $.grep(rubrics, function (e) {
                    return e.id == $(thisSelector).val();
                })[0];
                var tableContent = "";
                for (var i = 0; i < rubric.criteria.length; i++) {
                    tableContent = tableContent +
                        '<tr class="tablerow question-grp">' +
                        '<td class="question-content">' + rubric.criteria[i].name + '</td>' +
                        '<td class="question-kind">' + rubric.criteria[i].kind + '</td>' +
                        '</tr>'
                }
                $(this).closest(".rubric-section").append('<div id="rubric-' + rubric.id + '" class="rubric-grp">' +
                    '<div><h4>Rubric Name: ' + rubric.name + '</h4></div>' +
                    '<table class="table table-striped table-condensed">' +
                    '<thead>' +
                    '<tr>' +
                    '<th>Question content</th>' +
                    '<th>Answer type</th>' +
                    '</tr>' +
                    '</thead>' +
                    '<tbody>' + tableContent + '</tbody></table></div>');
                $(".input-resource-rubric").append('<option value="' + rubric.id + '">' + rubric.name + '</option>');
                $("#select-rubrics").find(".choose-rubric").not(this).each(function(){
                    $(this).find("option[value=" + $(thisSelector).data("previous") + "]").removeProp("disabled");
                    $(this).find("option[value=" + $(thisSelector).val() + "]").prop("disabled", true);
                });
                $(this).data("previous",$(this).val());
            });
            $("#add-btn-rubric").click(function () {
                if ($("#rubric-option-existing").prop("checked")){
                    if (checkEmptyFields("#select-rubrics",".choose-rubric")){
                        alert("Please fill out all fields.");
                    } else {
                        var nextRubric = $("#select-rubrics").find(".rubric-grp").length + 1;
                            $("#select-rubrics").append('<div class="rubric-section"><div class="form-group"><div class="col-sm-5">' +
                                    '<select class="form-control input-field choose-rubric" id="choose-rubric-' + nextRubric + '">' +
                                        '<option value="" disabled selected>Select one</option>');
                        var selectedIds = $.map($("#select-rubrics").find(".choose-rubric").not("#choose-rubric-" + nextRubric),
                            function(element){
                            return $(element).val();
                        });
                        for (var i = 0; i < rubrics.length; i++) {
                            var alreadySelected = false;
                            for (var j = 0; j < selectedIds.length; j++) {
                                if (rubrics[i].id == selectedIds[j]) {
                                    alreadySelected = true;
                                }
                            }
                            if (alreadySelected) {
                                $("#choose-rubric-" + nextRubric).append("<option value='" + rubrics[i].id + "' disabled>" +
                                        rubrics[i].name + "</option>"
                                    );
                            } else {
                                $("#choose-rubric-" + nextRubric).append("<option value='" + rubrics[i].id + "'>" +
                                    rubrics[i].name + "</option>"
                                );
                            }
                        }
                    }
                } else {
                    if (checkEmptyFields("#input-rubrics",".input-field")){
                        alert("Please fill out all fields.");
                    } else {
                        var nextRubric = $("#select-rubrics").find(".rubric-grp").length + 1;
                        $("#input-rubrics").append('<div class="rubric-grp" id="input-rubric-' + nextRubric + '">' +
                            '<input type="hidden" name="rubric-name-' + nextRubric + '" ' +
                            'id="rubric-name-' + nextRubric + '" ' +
                            'class="rubric-name saved-field">' +
                            '<div class="form-group">' +
                            '<div>' +
                            '<label class="control-label">Rubric name:</label>' +
                            '</div>' +
                            '<div class="col-sm-10">' +
                            '<input type="text" class="form-control input-field input-rubric-name">' +
                            '</div>' +
                            '</div>' +
                            '<div class="question-grp" id="input-question-' + nextRubric + '">' +
                            '<input type="hidden" name="question-content-1" id="question-content-1"' +
                            'class="question-content saved-field">' +
                            '<input type="hidden" name="question-kind-1"' +
                            'id="question-kind-1"' +
                            'class="question-kind saved-field">' +
                            '<div class="form-group">' +
                            '<div>' +
                            '<label class="control-label">Question content:</label>' +
                            '</div>' +
                            '<div class="col-sm-10">' +
                            '<input type="text" class="form-control input-field input-question-content">' +
                            '</div>' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<div>' +
                            '<label class="control-label">Answer type:</label>' +
                            '</div>' +
                            '<div class="col-sm-5">' +
                            '<select class="form-control input-question-kind" id="input-question-kind-1">' +
                            '<option value="URL" selected>URL</option>' +
                            '<option value="text">Text</option>' +
                            '<option value="yesnobut">Yes/No/But</option>' +
                            '</select>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '<div>' +
                            '<button type="button" id="add-btn-rubric" class="btn btn-default btn-xs add-btn">' +
                            '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add question' +
                            '</button>' +
                            '</div></div>');
                    }
                }
            });
            $(".add-btn-question").click(function () {
                if (checkEmptyFields("#input-rubrics",".input-field")){
                        alert("Please fill out all fields.");
                } else {
                    nextQuestion = $(this).closest(".rubric-grp").find(".question-grp").length + 1;
                    $(this).closest(".rubric-grp").find(".add-btn-question").before('<div class="question-grp" id="input-question-' + nextQuestion + '">' +
                        '<input type="hidden" name="question-content-' + nextQuestion + '" ' +
                        'id="question-content-' + nextQuestion + '" ' +
                        'class="question-content saved-field">' +
                        '<input type="hidden" name="question-kind-' + nextQuestion + '" ' +
                        'id="question-kind-' + nextQuestion + '" ' +
                        'class="question-kind saved-field">' +
                        '<div class="form-group">' +
                        '<div>' +
                        '<label class="control-label">Question content:</label>' +
                        '</div>' +
                        '<div class="col-sm-10">' +
                        '<input type="text" class="form-control input-field input-question-content">' +
                        '</div>' +
                        '</div>' +
                        '<div class="form-group">' +
                        '<div>' +
                        '<label class="control-label">Answer type:</label>' +
                        '</div>' +
                        '<div class="col-sm-5">' +
                        '<select class="form-control input-question-kind" id="input-question-kind-' + nextQuestion + '">' +
                        '<option value="URL" selected>URL</option>' +
                        '<option value="text">Text</option>' +
                        '<option value="yesnobut">Yes/No/But</option>' +
                        '</select>' +
                        '</div>' +
                        '</div>' +
                        '</div>');
                }
            });
            $("#save-btn-rubrics").click(function () {
                if ($("#rubric-option-existing").prop("checked")){
                    if (checkEmptyFields("#select-rubrics",".choose-rubric")) {
                        alert("Please fill out all fields.");
                    } else {
                        $("#table-gen-rubrics-body").empty();
                        $("#select-rubrics").find(".choose-rubric").each(function() {
                            var thisSelector = $(this);
                            var rubric = $.grep(rubrics, function (e) {
                                return e.id == $(thisSelector).val();
                            })[0];
                            for (var i = 0; i < rubric.criteria.length; i++) {
                                $("#table-gen-rubrics-body").append('<tr class="tablerow"><td>' + rubric.name +
                                    '</td><td>' + rubric.criteria[i].name + '</td><td>' + rubric.criteria[i].kind + '</td></tr>');
                            }
                        });
                        $("#table-gen-rubrics-total").text("Total Rubrics: " + $("#select-rubrics").find(".rubric-grp").length);
                        alert('Saved questions!');
                    }
                } else {
                    if (checkEmptyFields("#input-rubrics",".input-field")) {
                        alert("Please fill out all fields.");
                    } else {
                        $("#table-gen-questions-body").empty();
                        $("#input-rubrics").find(".question-grp").each(function () {
                            thisContent = $(this).find(".input-question-content")[0].value;
                            thisKind = $(this).find('.input-question-kind')[0].value;

                            $(this).find(".question-content")[0].value = thisContent;
                            $(this).find(".question-kind")[0].value = thisKind;

                            $("#table-gen-questions-body").append('<tr class="tablerow"><td>' + thisContent +
                                '</td><td>' + thisKind + '</td></tr>');
                        });
                        $("#table-gen-questions-total").text("Total: " + $("#input-rubrics").find(".question-grp").length);
                        alert('Saved questions!');
                    }
                }
            });
            $("#add-btn-resource").click(function () {
                emptyFields = false;
                $("#input-resources").find(".input-field").each(function () {
                    if (!$.trim(this.value).length) {
                        emptyFields = true;
                    }
                });
                if (emptyFields){
                    alert("Please fill out all fields.");
                } else {
                    nextResource=$("#input-resources").find(".resource-grp").length + 1;
                    $("#input-resources").append('<div class="resource-grp" id="input-resource-' + nextResource + '">' +
                                '<input type="hidden" name="resource-name-' + nextResource + '" ' +
                                'id="resource-name-' + nextResource + '" ' +
                                       'class="resource-name saved-field">' +
                                '<input type="hidden" name="resource-type-' + nextResource + '" ' +
                                'id="resource-type-' + nextResource + '" ' +
                                       'class="resource-type saved-field">' +
                                '<input type="hidden" name="resource-url-' + nextResource + '" ' +
                                'id="resource-url-' + nextResource + '" ' +
                                       'class="resource-url saved-field">' +
                                '<input type="hidden" name="resource-description-' + nextResource + '" ' +
                                'id="resource-description-' + nextResource + '" ' +
                                       'class="resource-description saved-field">' +
                                '<h4>Resource:</h4>' +
                                '<div class="row">' +
                                    '<div class="form-group col-sm-6">' +
                                        '<label class="control-label col-sm-3">Name:</label>' +
                                        '<div class="col-sm-8">' +
                                            '<input type="text" class="form-control input-resource-name input-field">' +
                                        '</div>' +
                                    '</div>' +
                                    '<div class="form-group col-sm-6">' +
                                        '<label class="control-label col-sm-3">Type:</label>' +
                                        '<div class="col-sm-8">' +
                                            '<select class="form-control input-field input-resource-type" id="selector-resource-type">' +
                                                '<option>Tool</option>' +
                                                '<option>Dataset</option>' +
                                                '<option>Repository</option>' +
                                            '</select>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                                '<div class="row">' +
                                    '<div class="form-group col-sm-6">' +
                                        '<label class="control-label col-sm-3">URL:</label>' +
                                        '<div class="col-sm-8">' +
                                            '<input type="text" class="form-control input-resource-url input-field">' +
                                        '</div>' +
                                    '</div>' +
                                    '<div class="form-group col-sm-6">' +
                                        '<label class="control-label col-sm-3">Description:</label>' +
                                        '<div class="col-sm-8">' +
                                            '<input type="text" class="form-control input-resource-description input-field">' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                            '</div>');
                }
            });
            $("#save-btn-resources").click(function () {
                emptyFields = false;
                $("#input-resources").find(".input-field").each(function () {
                    if (!$.trim(this.value).length) {
                        emptyFields = true;
                    }
                });
                if (emptyFields) {
                    alert("Please fill out all fields.");
                } else {
                    $("#table-gen-resources-body").empty();
                    $("#input-resources").find(".resource-grp").each(function () {
                        thisName = $(this).find(".input-resource-name")[0].value;
                        thisType = $(this).find(".input-resource-type")[0].value;
                        thisUrl = $(this).find(".input-resource-url")[0].value;
                        thisDesc = $(this).find(".input-resource-description")[0].value;

                        $(this).find(".resource-name")[0].value = thisName;
                        $(this).find(".resource-type")[0].value = thisType;
                        $(this).find(".resource-url")[0].value = thisUrl;
                        $(this).find(".resource-description")[0].value = thisDesc;

                        $("#table-gen-resources-body").append('<tr class="tablerow"><td>' + thisName + '</td><td>' + thisType
                            + '</td><td>' + thisUrl + '</td><td>' + thisDesc + '</td></tr>');
                    });
                    $("#table-gen-resources-total").text("Total Resources: " + $("#input-resources").find(".resource-grp").length);
                    alert("Saved resources!");
                }
            });
        })
    </script>
{% endblock %}