{% extends "fairshake/base.html" %}

{% block content %}
<div class="container">
  <h1>Terms of Service</h1>
  <p>
    FAIRshake's website and source code is distributed under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> License.
  </p>
  <p>&nbsp;</p>
  <p>
    If using FAIRshake for academic work, please cite our publication:
  </p>
  <p style="margin-left: 15px; padding: 10px; background-color: #f7f7f7;">
    Daniel J. B. Clarke, Lily Wang, Alex Jones, Megan L. Wojciechowicz, Denis Torre, Kathleen M. Jagodnik, Sherry L. Jenkins, Peter McQuilton, Zachary Flamholz, Moshe C. Silverstein, Brian M. Schilder, Kimberly Robasky, Claris Castillo, Ray Idaszak, Stanley C. Ahalt, Jason Williams, Stephan Schurer, Daniel J. Cooper, Ricardo de Miranda Azevedo, Juergen A. Klenk, Melissa A. Haendel, Jared Nedzel, Paul Avillach, Mary E. Shimoyama, Rayna M. Harris, Meredith Gamble, Rudy Poten, Amanda L. Charbonneau, Jennie Larkin, C. Titus Brown, Vivien R. Bonazzi, Michel J. Dumontier, Susanna-Assunta Sansone, Avi Ma’ayan<br />
    <b>FAIRshake: Toolkit to Evaluate the FAIRness of Research Digital Resources</b>
    Cell Systems (2019), <a href="https://doi.org/10.1016/j.cels.2019.09.011">https://doi.org/10.1016/j.cels.2019.09.011</a>
  </p>
</div>
{% endblock %}
