<div class="form-group">
    <label for="{{ metric.id }}" class="col-2 col-form-label">
        <h3>{{ metric.title }}</h3>
        <p>{{ metric.description }}</p>
    </label>
    <div class="row">
        {% with model="metric" item=metric %}
            {% include "fairshake/generic/element.html" %}
        {% endwith %}
        <div class="col-sm-6">
            <textarea
                class="form-control textfield"
                name="{{ metric.id }}"
                placeholder="Insert text"
                rows="5"
                required
            >{{ answer.value }}</textarea>
            <textarea
                name="{{ metric.id }}-url-comment"
                class="form-control textfield"
                placeholder="Enter URLs, if applicable and available. Separate URLs by spaces or new lines."
                rows="3"
            >{{ answer.url_comment }}</textarea>
            <textarea
                name="{{ metric.id }}-comment"
                class="form-control textfield"
                placeholder="Please explain or describe your answer."
                rows="5"
            >{{ answer.comment }}</textarea>
        </div>
    </div>
</div>