<div class="form-group">
    <label for="{{ metric.id }}" class="col-2 col-form-label">
        <h3>{{ metric.title }}</h3>
        <p>{{ metric.description }}</p>
    </label>
    <div class="row">
        {% with model="metric" item=metric %}
            {% include "fairshake/generic/element.html" %}
        {% endwith %}
        <div class="col-sm-6">
            <input
                type="url"
                class="form-control"
                name="{{ metric.id }}"
                value="{{ answer.answer }}"
                required
                placeholder="Insert a URL"
            >
            <textarea
              name="{{ metric.id }}-comment"
              class="form-control textfield"
              placeholder="Please explain or describe your answer."
              rows="5"
            >{{ answer.comment }}</textarea>
        </div>
    </div>
</div>
