<div class="form-group">
  <label for="{{ metric.id }}" class="col-2 col-form-label">
    <h3>{{ metric.title }}</h3>
    <p>{{ metric.description }}</p>
  </label>
  <div class="row">
    {% with model="metric" item=metric %}
      {% include "fairshake/generic/element.html" %}
    {% endwith %}
    <div class="col-sm-6">
    <div class="radio">
      <label>
        <input
          type="radio"
          name="{{ metric.id }}-answer"
          {% if answer and answer.value == "yes" %}checked{% endif %}
          value="yes"
          required
        >
          Yes
      </label>
    </div>
    <div class="radio">
      <label>
        <input
          type="radio"
          name="{{ metric.id }}-answer"
          {% if answer and answer.value == "yesbut" %}checked{% endif %}
          value="no"
        >
          Yes, but
      </label>
    </div>
    <div class="radio">
      <label>
        <input
          type="radio"
          name="{{ metric.id }}-answer"
          {% if answer and answer.value == "no" %}checked{% endif %}
          value="no"
        >
          No
      </label>
    </div>
    <div class="radio">
      <label>
        <input
          type="radio"
          name="{{ metric.id }}-answer"
          {% if answer and answer.value == "nobut" %}checked{% endif %}
          value="no"
        >
          No, but
      </label>
    </div>
    <textarea
      name="{{ metric.id }}-url-comment"
      class="form-control textfield"
      placeholder="Enter URLs, if applicable and available. Separate URLs by spaces or new lines."
      rows="3"
    >{{ answer.url_comment }}</textarea>
    <textarea
      name="{{ metric.id }}-comment"
      id="{{ metric.id }}-comment"
      class="form-control textfield"
      placeholder="Please explain or describe your answer."
      rows="5"
    >{{ answer.comment }}</textarea>
  </div>
</div>
