{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .container-fluid {
            text-align: center;
        }

        h2 {
            padding-bottom: 20px;
        }

        .heading2 {
            font-size: 23px;
        }

        .accmenu {
            padding-top: 30px;
        }


    </style>
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="heading1">
            <h2 style="text-align: center;">Account Home
                <div class="heading2">
                    <small>User ID: {{ current_userid }}</small>
                </div>
            </h2>
        </div>

        <div class="myevals">
            <a href="/fairshake/myevaluations" target="_self">View/Modify Submitted Evaluations</a>
        </div>
        <div class="resources">
            <a href="/fairshake/resources" target="_self">LINCS Resource List</a>
        </div>
        <div class="resetpass">
            <a href="/fairshake/resetpassword" target="_self">Reset Password</a>
        </div>

    </div>


{% endblock %}
