{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style>
        .projecthead {
            padding: 30px;
        }

        .installinstr {
            padding: 30px 0px 50px 50px;
        }

        .installp {
            padding-left: 20px;
        }

        .carouselhead {
            padding-left: 50px;
        }

        .carousel {
            margin-top: 0px;
            width: 900px;
            margin: 0 auto;
        }

        .downloadbtn{
            padding-left: 50px;
        }

        .carousel-control.left {
            background: none;
        !important
        }

        .carousel-control.right {
            background: none;
        !important
        }

        .carousel .item {
            min-height: 550px; /* Prevent carousel from being distorted if for some reason image doesn't load */
        }

        .carousel .item img {
            width: 100%;
            height: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
        }

        .bs-example {
            margin: 20px;
        }

        #picContainer {
            height: 530px;
            position: relative;
        }

        .glyphicon-chevron-left {
            color: dimgray;
        }

        .glyphicon-chevron-right {
            color: dimgray;
        }


    </style>
{% endblock %}
{% block header %}
    <!-- Change active tab -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <a id="navbar-logo" class="navbar-brand" href="/" style="display: table;">
                <img src="/static/img/icon-32.png"
                     style="display: table-cell; vertical-align: middle; margin-right: 10px;">
                <div style="display: table-cell; vertical-align: middle;">FAIRshake</div>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="/projects" class="headx">Projects</a></li>
            <li>
                <a href="/startproject" class="headx">Start a Project</a></li>
            <li class="active">
                <a href="/chromeextension" class="headx">Download Chrome Extension</a></li>
            <li>
                    <a href="/bookmarklet" class="headx">Download Bookmarklet</a></li>
            {% if current_user.is_authenticated %}
                <li>
                    <a href="/evaluatedprojects" class="headx">Evaluated Projects</a></li>
            {% endif %}

        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if not current_user.is_authenticated %}
                <li>
                    <a href="/login" class="headx">Login</a></li>
                <li>
                    <a href="/register" class="headx">Sign up</a></li>
            {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle headx" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ current_user.first_name }}</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/evaluatedprojects">Evaluated Projects</a></li>
                        <li>
                            <a href="/settings">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="/logout">Logout</a></li>
                    </ul>
                </li>

            {% endif %}
        </ul>
    </nav>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h3 class="projecthead text-left">FAIRshake Chrome Extension</h3>
        <div class="downloadbtn">
            <a href="/static/FAIRshake.zip" download="FAIRshake.zip">
                <button type="button" class="btn btn-success btn-lg">Download&nbsp;&nbsp;<span
                        class="glyphicon glyphicon-download" aria-hidden="true"></span></button>
            </a>
        </div>
        <div class="installinstr">
            <h4 class="installhead">How to install:</h4>
            <p class="installp">1. Click "Download" button and unzip files.
                <br>2. Open Google Chrome and go to "chrome://extensions".
                <br>3. Enable Developer mode at the top right.
                <br>4. Click "Load unpacked extension..." and choose the folder containing the downloaded files.
                <br>5. Enable the FAIRshake extension in the Chrome extension list.</p>
        </div>
        <h4 class="carouselhead text-left">Examples:</h4>
        <div class="bs-example">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div id="picContainer">
                            <img src="/static/img/chrome_extension1.png" alt="First Slide">
                        </div>
                    </div>
                    <div class="item">
                        <div id="picContainer">
                            <img src="/static/img/chrome_extension2.png"
                                 alt="Second Slide">
                        </div>
                    </div>
                    <div class="item">
                        <div id="picContainer">
                            <img src="/static/img/chrome_extension3.png"
                                 alt="Third Slide">
                        </div>
                    </div>
                </div>
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>


{% endblock %}
