<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style>
.container-fluid{
	text-align:center;
	padding-bottom:10px;
}

.titlehead{
	padding-bottom:20px;
}

</style>
</head>
<body>
<div class="container-fluid">
	<div class="titlehead">
	<h2>Digital Object Evaluation System</h2>
	</div>
	<div class="buttons">
	
	<form class="button2" action="/projects" method="get">
		<button type="submit" class="btn btn-default" value="Projects">Projects</button>
	</form>
	<form class="button3" action="/register" method="get">
		<button type="submit" class="btn btn-default" value="Get Started">Get Started</button>
	</form>
	<form class="button1" action="/login" method="get">
		<button type="submit" class="btn btn-default" value="Login">Login</button>
	</form>
	</div>

</div>
</body>
</html>