{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .container-fluid {
            text-align: center;
        }

        .start {
            padding-top: 15px;
        }

        .btngroup {
            padding: 10px;
            display: inline-block;
        }

        .caption {
            padding-left: 30px;
        }

        .projecttitle {
            font-size: 18px;
            color: black;
        }

        .projectdesc{
            font-size:15px;
            color:darkgray;
        }

        .projecthead {
            padding: 30px;
        }

        .projectimg {
            height: auto;
            width: 70%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
        }

        #nihlincsimg {
            height: auto;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
        }

        #modimg{
            height: 100%;
            width: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
        }

        .panel {
            height: 400px;
        }


        #xyz2 {
            position: absolute;
            right: 30px;
            bottom: 38px;
        }

        #picContainer {
            height: 230px;
            position: relative;
        }

    </style>
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="title">
            <h2>FAIRShake</h2>
        </div>

        <div class="subtitle"><h4>A System to Evaluate Digital Objects</h4></div>
        <div class="start">

            <div class="btngroup">
                {% if current_user.is_authenticated %}
                    <form action="/fairshake/projects" method="get">
                        <button type="submit" class="btn btn-default">Evaluate a Project</button>
                    </form>
                {% else %}
                    <form action="/fairshake/register" method="get">
                        <button type="submit" class="btn btn-default">Evaluate a Project</button>
                    </form>
                {% endif %}
            </div>

            <div class="btngroup">
                {% if current_user.is_authenticated %}
                    <form action="/fairshake/startproject" method="get">
                        <button type="submit" class="btn btn-default">Start a Project</button>
                    </form>
                {% else %}
                    <form action="/fairshake/register" method="get">
                        <button type="submit" class="btn btn-default">Start a Project</button>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="featproject">
            <h3 class="projecthead text-left">Featured Projects</h3>

            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <a href="/fairshake/project/{{ projectlist[0][0] }}/resources">
                            <div onmouseover="overicon(this)" onmouseout="leaveicon(this)" id="picContainer">
                                <img class="projectimg" id="nihlincsimg" src="{{ projectlist[0][3] }}">
                            </div>
                        </a>
                        <div class="caption text-left">
                            <p class="projecttitle">{{ projectlist[0][1] }}</p>
                            <p class="projectdesc">{{ projectlist[0][2] }}</p>
                        </div>

                    </div>
                    <form action="/fairshake/project/{{ projectlist[0][0] }}/resources" method="get" id="xyz1">
                        <button type="submit" class="btn btn-default btn-sm" id="xyz2">Evaluate</button>
                    </form>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <a href="/fairshake/project/{{ projectlist[1][0] }}/resources">
                            <div onmouseover="overicon(this)" onmouseout="leaveicon(this)" id="picContainer">
                                <img class="projectimg" id="modimg" src="{{ projectlist[1][3] }}">
                            </div>
                        </a>
                        <div class="caption text-left">
                            <p class="projecttitle">{{ projectlist[1][1] }}</p>
                            <p class="projectdesc">{{ projectlist[1][2] }}</p>
                        </div>

                    </div>
                    <form action="/fairshake/project/{{ projectlist[1][0] }}/resources" method="get" id="xyz1">
                        <button type="submit" class="btn btn-default btn-sm" id="xyz2">Evaluate</button>
                    </form>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <a href="/fairshake/project/{{ projectlist[2][0] }}/resources">
                            <div onmouseover="overicon(this)" onmouseout="leaveicon(this)" id="picContainer">
                                <img class="projectimg" src="{{ projectlist[2][3] }}">
                            </div>
                        </a>
                        <div class="caption text-left">
                            <p class="projecttitle">{{ projectlist[2][1] }}</p>
                            <p class="projectdesc">{{ projectlist[2][2] }}</p>
                        </div>

                    </div>
                    <form action="/fairshake/project/{{ projectlist[2][0] }}/resources" method="get" id="xyz1">
                        <button type="submit" class="btn btn-default btn-sm" id="xyz2">Evaluate</button>
                    </form>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <a href="/fairshake/project/{{ projectlist[3][0] }}/resources">
                            <div onmouseover="overicon(this)" onmouseout="leaveicon(this)" id="picContainer">
                                <img class="projectimg" src="{{ projectlist[3][3] }}">
                            </div>
                        </a>
                        <div class="caption text-left">
                            <p class="projecttitle">{{ projectlist[3][1] }}</p>
                            <p class="projectdesc">{{ projectlist[3][2] }}</p>
                        </div>

                    </div>
                    <form action="/fairshake/project/{{ projectlist[3][0] }}/resources" method="get" id="xyz1">
                        <button type="submit" class="btn btn-default btn-sm" id="xyz2">Evaluate</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function overicon(pic) {
            pic.style.opacity = .7;
        }
        function leaveicon(pic) {
            pic.style.opacity = 1;
        }
    </script>

{% endblock %}