{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .container-fluid {
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
        }

        .start {
            padding-top: 15px;
        }

        .btngroup {
            padding: 10px;
            display: inline-block;
        }

        .featproject {
            background-color: #f5f5f5;
        }

        .projecthead {
            padding: 30px;
            padding-bottom: 0px;
        }

        .projectlist {
            text-align: left;
            padding-left: 40px;
        }

        .projectop {
            padding: 20px;
            padding-left: 30px;
        }

        .projectdesc {
            padding-left: 30px;
        }

        .evalbutton{
            padding-bottom:20px;
        }

    </style>
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="title">
            <h2>FAIRShake</h2>
        </div>


        <div class="subtitle"><h4>A System to Evaluate Digital Objects</h4></div>
        <div class="start">

            <div class="btngroup">
                {% if current_user.is_authenticated %}
                    <form action="/fairshake/projects" method="get">
                        <button type="submit" class="btn btn-default">Evaluate a Project</button>
                    </form>
                {% else %}
                    <form action="/fairshake/register" method="get">
                        <button type="submit" class="btn btn-default">Evaluate a Project</button>
                    </form>
                {% endif %}
            </div>

            <div class="btngroup">
                {% if current_user.is_authenticated %}
                    <form action="/fairshake/startproject" method="get">
                        <button type="submit" class="btn btn-default">Start a Project</button>
                    </form>
                {% else %}
                    <form action="/fairshake/register" method="get">
                        <button type="submit" class="btn btn-default">Start a Project</button>
                    </form>
                {% endif %}
            </div>
        </div>


    </div>

    <div class="container-fluid">
        <div class="featproject">
            <h3 class="projecthead text-left">Featured Project</h3>
            <div class="projectlist">
                    <div class="projectop">
                        <div class="projecttitle">
                            <h4>{{ projectlist[0][1] }}</h4>
                        </div>
                        <div class="projectinfo">
                            <div class="projectowner">
                                <small>by {{ projectlist[0][3] }}</small>
                            </div>
                            <div class="projectdesc">
                                <p>{{ projectlist[0][2] }}</p>
                            </div>
                        </div>
                        <div class="evalbutton">
                            <form action="/fairshake/project/{{ projectlist[0][0] }}" method="get">
                                <button type="submit" class="btn btn-default">Evaluate</button>
                            </form>
                        </div>
                    </div>
            </div>

        </div>
    </div>

{% endblock %}