

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <style type="text/css" media="screen">
  div {
    width:60px;
    height: 60px;
    float: left;
    margin: 1px;
  }
  </style>
</head>



<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://d3js.org/d3.v3.js"></script>

  <script type="text/javascript">
  //d3.interpolateLab("red", "blue")(0.5);
  var body = d3.select("body").append("svg").attr("width",210).attr("height",210);
    

  scale=d3.scale.linear().domain([-1,1])
      .interpolate(d3.interpolateRgb)
      .range([d3.rgb(0,0,255), d3.rgb(255,0,0)]);



    //body.append('div').attr('style', 'background-color:'+ scale(.67));
    //body.append('div').attr('style', 'background-color:'+ scale(-.2));

    //body.append("svg").attr("width", 100).attr("height", 100).append("circle").attr("cx", 50).attr("cy", 50).attr("r", 25).style("fill", scale(.67));
    body.append("rect").attr("x",0).attr("y",0).attr("width",50).attr("height",50).style("fill",scale(1)).style("fill-opacity",.9).style("stroke","white").style("stroke-width",2);
    body.append("rect").attr("x",50).attr("y",0).attr("width",50).attr("height",50).style("fill",scale(.3)).style("fill-opacity",.9).style("stroke","white").style("stroke-width",2);
    body.append("rect").attr("x",100).attr("y",0).attr("width",50).attr("height",50).style("fill",scale(-.7)).style("fill-opacity",.9).style("stroke","white").style("stroke-width",2);
    body.append("rect").attr("x",150).attr("y",0).attr("width",50).attr("height",50).style("fill",scale(-.85)).style("fill-opacity",.9).style("stroke","white").style("stroke-width",2);
    body.append("rect").attr("x",0).attr("y",50).attr("width",50).attr("height",50).style("fill",scale(-.85)).style("fill-opacity",.9).style("stroke","white").style("stroke-width",2);
    body.append("rect").attr("x",50).attr("y",50).attr("width",50).attr("height",50).style("fill",scale(-.85)).style("fill-opacity",.9).style("stroke","white").style("stroke-width",2);
    body.append("rect").attr("x",100).attr("y",50).attr("width",50).attr("height",50).style("fill",scale(-.85)).style("fill-opacity",.9).style("stroke","white").style("stroke-width",2);
    body.append("rect").attr("x",150).attr("y",50).attr("width",50).attr("height",50).style("fill",scale(-.85)).style("fill-opacity",.9).style("stroke","white").style("stroke-width",2);
    body.append("rect").attr("x",0).attr("y",100).attr("width",50).attr("height",50).style("fill",scale(-.85)).style("fill-opacity",.9).style("stroke","white").style("stroke-width",2);
    body.append("rect").attr("x",50).attr("y",100).attr("width",50).attr("height",50).style("fill",scale(-.85)).style("fill-opacity",.9).style("stroke","white").style("stroke-width",2);
    body.append("rect").attr("x",100).attr("y",100).attr("width",50).attr("height",50).style("fill",scale(-.85)).style("fill-opacity",.9).style("stroke","white").style("stroke-width",2);
    body.append("rect").attr("x",150).attr("y",100).attr("width",50).attr("height",50).style("fill",scale(-.85)).style("fill-opacity",.9).style("stroke","white").style("stroke-width",2);
    body.append("rect").attr("x",0).attr("y",150).attr("width",50).attr("height",50).style("fill",scale(-.85)).style("fill-opacity",.9).style("stroke","white").style("stroke-width",2);
    body.append("rect").attr("x",50).attr("y",150).attr("width",50).attr("height",50).style("fill",scale(-.85)).style("fill-opacity",.9).style("stroke","white").style("stroke-width",2);
    body.append("rect").attr("x",100).attr("y",150).attr("width",50).attr("height",50).style("fill",scale(-.85)).style("fill-opacity",.9).style("stroke","white").style("stroke-width",2);
    body.append("rect").attr("x",150).attr("y",150).attr("width",50).attr("height",50).style("fill",scale(-.85)).style("fill-opacity",.9).style("stroke","white").style("stroke-width",2);

    //body.append("svg").attr("width", 100).attr("height", 100).append("rect").attr("x",0).attr("y",0).attr("width",50).attr("height",50).style("fill",scale(-.73)).style("fill-opacity",.9).style("stroke","white").style("stroke-width",2);


  </script>

</body>
</html> 