{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .form-actions {padding: 10px;}
        .heading{text-align:center;}

        h2 {
            padding-bottom: 10px;
        }

        h4 {
            padding-bottom: 20px;
        }

        .tdinsig {width: 12%;}

        .tdmyinsig {width: 12%;}

        div.tooltip {
            position: absolute;
            padding: 2px;
            font: 13px sans-serif;
            background: black;
            color: white;
            border-radius: 2px;
            pointer-events: none;
        }
        .tablerow{
            font-size:13px;
            font-weight:100;

        }

    </style>
{% endblock %}
{% block content %}

    <script type="text/javascript"> //Pagination
        $(document).ready(function() {
            if ({{page}} >= {{lastpage}}){
                document.getElementById("next").style.display = 'none';
            }
            if ({{page}} === {{ 1 }}){
                document.getElementById("back").style.display = 'none';
            }
        });
    </script>

    <script type="text/javascript">
        scale = d3.scale.linear().domain([-1, 1])
          .interpolate(d3.interpolateRgb)
          .range([d3.rgb(255,0,0), d3.rgb(0,0,255)]);

        function roundTwo(num) {
            return +(Math.round(num + "e+2") + "e-2");
        }

        function opac(d) {
            d3.select(this).style("fill-opacity", .3);
            var div = d3.select(this.parentNode.parentNode).append("div")
                .attr("class", "tooltip")
                .style("opacity", 0);

            div.transition().style("opacity", .8);
            div.html("Score: " + roundTwo(d.numdata) + "<br/>" + d.qdata)
                .style("left", (d3.event.pageX + 10) + "px")
                .style("top", (d3.event.pageY - 28) + "px");
        }

        function bopac() {
            d3.select(this).style("fill-opacity", 1);
            d3.selectAll(".tooltip").remove();
        }

        var rectAttr =
            {width: 10,
                height: 10}

        var rectStyle =
            {
                fill: function (d) {return scale(d.numdata);},
                stroke: "white",
                "stroke-width": 1
                ,
                "shape-rendering": "crispEdges"
            }

      function makeInsig(par) {

          var avg = {{ avginfo|tojson }}[par];

          var qdt={{ qdat|tojson }}[par];
          return [{numdata: avg[1], qdata: "1. "+qdt[1], posx: 0, posy: 0},
              {numdata: avg[2], qdata: "2. "+qdt[2], posx: 10, posy: 0},
              {numdata: avg[3], qdata: "3. "+qdt[3], posx: 20, posy: 0},
              {numdata: avg[4], qdata: "4. "+qdt[4], posx: 30, posy: 0},
              {numdata: avg[5], qdata: "5. "+qdt[5], posx: 0, posy: 10},
              {numdata: avg[6], qdata: "6. "+qdt[6], posx: 10, posy: 10},
              {numdata: avg[7], qdata: "7. "+qdt[7], posx: 20, posy: 10},
              {numdata: avg[8], qdata: "8. "+qdt[8], posx: 30, posy: 10},
              {numdata: avg[9], qdata: "9. "+qdt[9], posx: 0, posy: 20},
              {numdata: avg[10], qdata: "10. "+qdt[10], posx: 10, posy: 20},
              {numdata: avg[11], qdata: "11. "+qdt[11], posx: 20, posy: 20},
              {numdata: avg[12], qdata: "12. "+qdt[12], posx: 30, posy: 20},
              {numdata: avg[13], qdata: "13. "+qdt[13], posx: 0, posy: 30},
              {numdata: avg[14], qdata: "14. "+qdt[14], posx: 10, posy: 30},
              {numdata: avg[15], qdata: "15. "+qdt[15], posx: 20, posy: 30},
              {numdata: avg[16], qdata: "16. "+qdt[16], posx: 30, posy: 30}
          ]
      }

        function makeMyInsig(par) {

            var avg = {{ ans|tojson }}[par];

            var qdt = {{ qdat|tojson }}[par];
            return [{numdata: avg[1], qdata: "1. " + qdt[1], posx: 0, posy: 0},
                {numdata: avg[2], qdata: "2. " + qdt[2], posx: 10, posy: 0},
                {numdata: avg[3], qdata: "3. " + qdt[3], posx: 20, posy: 0},
                {numdata: avg[4], qdata: "4. " + qdt[4], posx: 30, posy: 0},
                {numdata: avg[5], qdata: "5. " + qdt[5], posx: 0, posy: 10},
                {numdata: avg[6], qdata: "6. " + qdt[6], posx: 10, posy: 10},
                {numdata: avg[7], qdata: "7. " + qdt[7], posx: 20, posy: 10},
                {numdata: avg[8], qdata: "8. " + qdt[8], posx: 30, posy: 10},
                {numdata: avg[9], qdata: "9. " + qdt[9], posx: 0, posy: 20},
                {numdata: avg[10], qdata: "10. " + qdt[10], posx: 10, posy: 20},
                {numdata: avg[11], qdata: "11. " + qdt[11], posx: 20, posy: 20},
                {numdata: avg[12], qdata: "12. " + qdt[12], posx: 30, posy: 20},
                {numdata: avg[13], qdata: "13. " + qdt[13], posx: 0, posy: 30},
                {numdata: avg[14], qdata: "14. " + qdt[14], posx: 10, posy: 30},
                {numdata: avg[15], qdata: "15. " + qdt[15], posx: 20, posy: 30},
                {numdata: avg[16], qdata: "16. " + qdt[16], posx: 30, posy: 30}
            ]
        }


      function insig(i) {

          var body = d3.selectAll(document.getElementsByClassName("insignia"+i)).append("svg").attr("width", 40).attr("height", 40);

          body.selectAll("rect").data(makeInsig(i)).enter().append("rect").attr(rectAttr).attr("x", function (d) {
              return d.posx;
          }).attr("y", function (d) {
              return d.posy;
          }).style(rectStyle)
          .on("mouseover",opac)
          .on("mouseout",bopac);
      }

      function myinsig(i) {

          var body = d3.selectAll(document.getElementsByClassName("myinsignia"+i)).append("svg").attr("width", 40).attr("height", 40);

          body.selectAll("rect").data(makeMyInsig(i)).enter().append("rect").attr(rectAttr).attr("x", function (d) {
              return d.posx;
          }).attr("y", function (d) {
              return d.posy;
          }).style(rectStyle)
          .on("mouseover",opac)
          .on("mouseout",bopac);
      }

      function gotoreslist(){
            $('#toggleForm')[0].submit();
        }


    </script>

    <div class="container-fluid">
        <div class="heading">
            <div class="title">
                <h2>{{ projinfo[0][1] }}<small> - My Evaluations</small></h2>
                <h4>{{ projinfo[0][2] }} </h4>

            </div>

            <div class="btn-group" id="listgrpbtns" data-toggle="buttons">
                <label class="btn btn-default listgrpbtn" onclick="gotoreslist()">
                    <input type="radio" name="options" autocomplete="off">Resources List
                </label>
                <label class="btn btn-default listgrpbtn active">
                    <input type="radio" name="options" autocomplete="off">My Evaluations
                </label>

            </div>

            <form action="/fairshake/project/{{ projinfo[0][0] }}/resources" class="form-horizontal" method='GET' id="toggleForm">
            </form>

        </div>

        {% if totalres>0 %}

            <table class="table table-responsive table-hover">
                <thead>
                <tr>
                    <th>Select</th>
                    <th>Name</th>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th># of Evaluations</th>
                    <th>All Evaluations</th>
                    <th>My Evaluation</th>
                </tr>
                </thead>
                <tbody>

                <form action="/fairshake/modifyevaluation" method="post" id="form1">
                    {% for i in range(pagecount-per_page,showlast) %}
                        <tr class="tablerow">
                            <td>
                                <div class="radio">
                                    <label><input type="radio" id='res1' name="resourceid" value={{ resources[i][0] }}></label>
                                </div>
                            </td>
                            <td class="resnamecol">
                                <div class="radiotext">
                                    <label for='res1'>
                                        <a href={{ resources[i][2] }} target="_blank">{{ resources[i][1] }}</a></label>
                                </div>
                            </td>
                            <td>
                                <div class="radiotext">
                                    <label for='res1'>{{ resources[i][0] }}</label>
                                </div>
                            </td>
                            <td>
                                <div class="radiotext">
                                    <label for='res1'>{{ resources[i][3] }}</label>
                                </div>
                            </td>
                            <td class="descripCol">
                                <div class="radiotext">
                                    <label for='res1'>{{ resources[i][4] }}</label>
                                </div>
                            </td>
                            <td>
                                <div class="radiotext">
                                    <label for='res1'>{{ listeval[i] }}</label>
                                </div>
                            </td>
                            <td class="tdinsig">
                                <div class="insignia{{ i }}">
                                    <script>
                                        insig({{i}});
                                    </script>
                                </div>
                            </td>
                            <td class="tdmyinsig">
                                <div class="myinsignia{{ i }}">
                                    <script>
                                        myinsig({{i}});
                                    </script>
                                </div>
                            </td>
                        </tr>

                    {% endfor %}
                </form>
                </tbody>
            </table>

            <div class="form-actions">
                <button type="submit" class="btn btn-default" value="Submit" form="form1">Modify Evaluation</button>
            </div>

        {% else %}
            <p class="text-center">No evaluations.</p>

        {% endif %}

        <div class="form-actions">
            <form action='/fairshake/project/{{ proj }}/myevaluations/page/{{ page-1 }}' method='get'>
                <button type="submit" class="btn btn-default" value="Back" id="back">Back</button>
            </form>
        </div>

        <div class="form-actions">
            <form action='/fairshake/project/{{ proj }}/myevaluations/page/{{ page+1}}' method='get'>
                <button type="submit" class="btn btn-default" value="Next" id="next">Next</button>
            </form>
        </div>

    </div>
{% endblock %}

