{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .form-actions {padding: 10px;}

        h2 {padding-bottom: 30px;}

        .accmenu {text-align: center;}

        .tdinsig {width: 12%;}

        .tdmyinsig {width: 12%;}

        .otext {
            display: block;
            font-size: 12px;
            line-height: .95;
        }

        div.tooltip {
            position: absolute;
            padding: 2px;
            font: 13px sans-serif;
            background: black;
            color: white;
            border-radius: 2px;
            pointer-events: none;
        }

    </style>
{% endblock %}
{% block content %}
        <script type="text/javascript">

        var lastpage = 1;
        if ({{totalres}}<{{per_page}}||({{totalres}} % {{per_page}}===0)){
            lastpage = Math.trunc({{totalres}}/{{per_page}});
            if (lastpage === 0) {
                lastpage = 1;
            }
        }
        else{
            lastpage = Math.trunc({{totalres}}/{{per_page}})+1;
        }

        window.onload = function () {
            if ({{page}}>=lastpage){
                document.getElementById("next").style.display = 'none';
            }
            if ({{page}}<=1){
                document.getElementById("back").style.display = 'none';
            }
        }


    </script>
    <script type="text/javascript">
        scale = d3.scale.linear().domain([-1, 1])
            .interpolate(d3.interpolateRgb)
            .range([d3.rgb(0, 0, 255), d3.rgb(255, 0, 0)]);

        function roundTwo(num) {
            return +(Math.round(num + "e+2") + "e-2");
        }

        function opac(d) {
            d3.select(this).style("fill-opacity", .3);
            var div = d3.select(this.parentNode.parentNode).append("div")
                .attr("class", "tooltip")
                .style("opacity", 0);

            div.transition().style("opacity", .8);
            div.html(roundTwo(d.numdata) + "<br/>" + d.qdata + ".")
                .style("left", (d3.event.pageX + 10) + "px")
                .style("top", (d3.event.pageY - 28) + "px");
        }

        function bopac() {
            d3.select(this).style("fill-opacity", 1);
            d3.selectAll(".tooltip").remove();
        }


        var rectAttr =
            {width: 10,
                height: 10}

        var rectStyle =
            {
                fill: function (d) {return scale(d.numdata);},
                stroke: "white",
                "stroke-width": 1,
                "shape-rendering": "crispEdges"
            }

        function insig(i) { //avginfo goes from 1-16 for averages, 0 index is id
            var body = d3.selectAll(document.getElementsByClassName("insignia" + i)).append("svg").attr("width", 40).attr("height", 40);

            body.selectAll("xyz1").data([{"numdata": {{avginfo|tojson}}[i][1],"qdata": {{qdat|tojson}}[i][1]}]).enter().append("rect").attr(rectAttr).attr("x", 0).attr("y", 0).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz2").data([{"numdata": {{avginfo|tojson}}[i][2],"qdata": {{qdat|tojson}}[i][2]}]).enter().append("rect").attr(rectAttr).attr("x", 10).attr("y", 0).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz3").data([{"numdata": {{avginfo|tojson}}[i][3],"qdata": {{qdat|tojson}}[i][3]}]).enter().append("rect").attr(rectAttr).attr("x", 20).attr("y", 0).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz4").data([{"numdata": {{avginfo|tojson}}[i][4],"qdata": {{qdat|tojson}}[i][4]}]).enter().append("rect").attr(rectAttr).attr("x", 30).attr("y", 0).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz5").data([{"numdata": {{avginfo|tojson}}[i][5],"qdata": {{qdat|tojson}}[i][5]}]).enter().append("rect").attr(rectAttr).attr("x", 0).attr("y", 10).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz6").data([{"numdata": {{avginfo|tojson}}[i][6],"qdata": {{qdat|tojson}}[i][6]}]).enter().append("rect").attr(rectAttr).attr("x", 10).attr("y", 10).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz7").data([{"numdata": {{avginfo|tojson}}[i][7],"qdata": {{qdat|tojson}}[i][7]}]).enter().append("rect").attr(rectAttr).attr("x", 20).attr("y", 10).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz8").data([{"numdata": {{avginfo|tojson}}[i][8],"qdata": {{qdat|tojson}}[i][8]}]).enter().append("rect").attr(rectAttr).attr("x", 30).attr("y", 10).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz9").data([{"numdata": {{avginfo|tojson}}[i][9],"qdata": {{qdat|tojson}}[i][9]}]).enter().append("rect").attr(rectAttr).attr("x", 0).attr("y", 20).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz10").data([{"numdata": {{avginfo|tojson}}[i][10],"qdata": {{qdat|tojson}}[i][10]}]).enter().append("rect").attr(rectAttr).attr("x", 10).attr("y", 20).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz11").data([{"numdata": {{avginfo|tojson}}[i][11],"qdata": {{qdat|tojson}}[i][11]}]).enter().append("rect").attr(rectAttr).attr("x", 20).attr("y", 20).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz12").data([{"numdata": {{avginfo|tojson}}[i][12],"qdata": {{qdat|tojson}}[i][12]}]).enter().append("rect").attr(rectAttr).attr("x", 30).attr("y", 20).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz13").data([{"numdata": {{avginfo|tojson}}[i][13],"qdata": {{qdat|tojson}}[i][13]}]).enter().append("rect").attr(rectAttr).attr("x", 0).attr("y", 30).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz14").data([{"numdata": {{avginfo|tojson}}[i][14],"qdata": {{qdat|tojson}}[i][14]}]).enter().append("rect").attr(rectAttr).attr("x", 10).attr("y", 30).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz15").data([{"numdata": {{avginfo|tojson}}[i][15],"qdata": {{qdat|tojson}}[i][15]}]).enter().append("rect").attr(rectAttr).attr("x", 20).attr("y", 30).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz16").data([{"numdata": {{avginfo|tojson}}[i][16],"qdata": {{qdat|tojson}}[i][16]}]).enter().append("rect").attr(rectAttr).attr("x", 30).attr("y", 30).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
        }

        function myinsig(i) { //ans goes from 1-16 for averages, 0 index is id
            var body = d3.selectAll(document.getElementsByClassName("myinsignia" + i)).append("svg").attr("width", 40).attr("height", 40);

            body.selectAll("xyz1").data([{"numdata": {{ans|tojson}}[i][1],"qdata": {{qdat|tojson}}[i][1]}]).enter().append("rect").attr(rectAttr).attr("x", 0).attr("y", 0).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz2").data([{"numdata": {{ans|tojson}}[i][2],"qdata": {{qdat|tojson}}[i][2]}]).enter().append("rect").attr(rectAttr).attr("x", 10).attr("y", 0).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz3").data([{"numdata": {{ans|tojson}}[i][3],"qdata": {{qdat|tojson}}[i][3]}]).enter().append("rect").attr(rectAttr).attr("x", 20).attr("y", 0).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz4").data([{"numdata": {{ans|tojson}}[i][4],"qdata": {{qdat|tojson}}[i][4]}]).enter().append("rect").attr(rectAttr).attr("x", 30).attr("y", 0).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz5").data([{"numdata": {{ans|tojson}}[i][5],"qdata": {{qdat|tojson}}[i][5]}]).enter().append("rect").attr(rectAttr).attr("x", 0).attr("y", 10).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz6").data([{"numdata": {{ans|tojson}}[i][6],"qdata": {{qdat|tojson}}[i][6]}]).enter().append("rect").attr(rectAttr).attr("x", 10).attr("y", 10).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz7").data([{"numdata": {{ans|tojson}}[i][7],"qdata": {{qdat|tojson}}[i][7]}]).enter().append("rect").attr(rectAttr).attr("x", 20).attr("y", 10).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz8").data([{"numdata": {{ans|tojson}}[i][8],"qdata": {{qdat|tojson}}[i][8]}]).enter().append("rect").attr(rectAttr).attr("x", 30).attr("y", 10).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz9").data([{"numdata": {{ans|tojson}}[i][9],"qdata": {{qdat|tojson}}[i][9]}]).enter().append("rect").attr(rectAttr).attr("x", 0).attr("y", 20).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz10").data([{"numdata": {{ans|tojson}}[i][10],"qdata": {{qdat|tojson}}[i][10]}]).enter().append("rect").attr(rectAttr).attr("x", 10).attr("y", 20).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz11").data([{"numdata": {{ans|tojson}}[i][11],"qdata": {{qdat|tojson}}[i][11]}]).enter().append("rect").attr(rectAttr).attr("x", 20).attr("y", 20).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz12").data([{"numdata": {{ans|tojson}}[i][12],"qdata": {{qdat|tojson}}[i][12]}]).enter().append("rect").attr(rectAttr).attr("x", 30).attr("y", 20).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz13").data([{"numdata": {{ans|tojson}}[i][13],"qdata": {{qdat|tojson}}[i][13]}]).enter().append("rect").attr(rectAttr).attr("x", 0).attr("y", 30).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz14").data([{"numdata": {{ans|tojson}}[i][14],"qdata": {{qdat|tojson}}[i][14]}]).enter().append("rect").attr(rectAttr).attr("x", 10).attr("y", 30).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz15").data([{"numdata": {{ans|tojson}}[i][15],"qdata": {{qdat|tojson}}[i][15]}]).enter().append("rect").attr(rectAttr).attr("x", 20).attr("y", 30).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
            body.selectAll("xyz16").data([{"numdata": {{ans|tojson}}[i][16],"qdata": {{qdat|tojson}}[i][16]}]).enter().append("rect").attr(rectAttr).attr("x", 30).attr("y", 30).style(rectStyle).on("mouseover", opac).on("mouseout", bopac);
        }
    </script>
    <div class="container-fluid">
        <h2 style="text-align: center;">My Evaluations</h2>
        {% if totalres>0 %}

            <table class="table table-responsive table-hover">
                <thead>
                <tr>
                    <th>Select</th>
                    <th>Name</th>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th># of Evaluations</th>
                    <th>All Evaluations</th>
                    <th>My Evaluation</th>
                </tr>
                </thead>
                <tbody>
                <form action="/fairshake/modifyevaluation" method="post" id="form1">
                    {% for i in range(pagecount-per_page,showlast) %}
                        <tr class="tablerow">
                            <td>
                                <div class="radio">
                                    <label><input type="radio" id='res1' name="resourceid" value={{ resources[i][0] }}></label>
                                </div>
                            </td>
                            <td>
                                <div class="radiotext">
                                    <label for='res1'><a
                                            href={{ resources[i][2] }} target="_blank"></a>{{ resources[i][1] }}</label>
                                </div>
                            </td>
                            <td>
                                <div class="radiotext">
                                    <label for='res1'>{{ resources[i][0] }}</label>
                                </div>
                            </td>
                            <td>
                                <div class="radiotext">
                                    <label for='res1'>{{ resources[i][3] }}</label>
                                </div>
                            </td>
                            <td>
                                <div class="radiotext">
                                    <label for='res1'>{{ resources[i][4] }}</label>
                                </div>
                            </td>
                            <td>
                                <div class="radiotext">
                                    <label for='res1'>{{ listeval[i] }}</label>
                                </div>
                            </td>
                            <td class="tdinsig">
                                <div class="insignia{{ i }}">
                                    <script>
                                        insig({{i}});
                                    </script>
                                </div>
                            </td>
                            <td class="tdmyinsig">
                                <div class="myinsignia{{ i }}">
                                    <script>
                                        myinsig({{i}});
                                    </script>
                                </div>
                            </td>
                        </tr>

                    {% endfor %}
                </form>
                </tbody>
            </table>

            <div class="form-actions">
                <button type="submit" class="btn btn-default" value="Submit" form="form1">Modify Evaluation</button>
            </div>

        {% else %}
            <p class="text-center">No evaluations.</p>


        {% endif %}

        <div class="form-actions">
            <form action='/fairshake/myevaluations/page/{{ page-1 }}' method='get'>
                <button type="submit" class="btn btn-default" value="Back" id="back">Back</button>
            </form>
        </div>

        <div class="form-actions">
            <form action='/fairshake/myevaluations/page/{{ page+1}}' method='get'>
                <button type="submit" class="btn btn-default" value="Next" id="next">Next</button>
            </form>
        </div>

    </div>
{% endblock %}