<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">

.form-actions{
	padding:10px;
}
h2{
	padding-bottom:30px;
}
.container-fluid{
	padding-bottom:20px;
}
.accmenu{
	text-align:center;
}
.tdinsig{
	width:12%;
}
.tdmyinsig{
	width:12%;
}
.otext{
	display:block;
	font-size:12px;
	line-height:.95;
    padding-top:3px;
}

</style>
</head>
{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category,message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<h2 style = "text-align: center;">My Evaluations</h2>

<script type="text/javascript">

	var lastpage=1;
	if({{totalres}}<{{per_page}}||({{totalres}}%{{per_page}}==0)){
		lastpage=Math.trunc({{totalres}}/{{per_page}});
		if (lastpage===0){
			lastpage=1;
		}
	}
	else{
		lastpage=Math.trunc({{totalres}}/{{per_page}})+1;
	}

	window.onload=function(){
		if({{page}}>=lastpage){
			document.getElementById("next").style.display='none';
		}
		if({{page}}<=1){
			document.getElementById("back").style.display='none';
		}
	}


</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://d3js.org/d3.v3.js"></script>

  <script type="text/javascript">
  
    

  scale=d3.scale.linear().domain([-1,1])
      .interpolate(d3.interpolateRgb)
      .range([d3.rgb(0,0,255), d3.rgb(255,0,0)]);

  
  function roundTwo(num){
  	return +(Math.round(num+"e+2") +"e-2");
  }

  function opac(d){
  	d3.select(this).style("fill-opacity",.3);
  	d3.select(this.parentNode.parentNode).append("div").append("text").text(roundTwo(d.numdata)).attr("class","ttext");
    d3.select(this.parentNode.parentNode).append("div").append("text").text(d.qdata+".").attr("class","otext");
  }
  	
 
  function bopac(){
  	d3.select(this).style("fill-opacity",1);
  	d3.selectAll("text").remove();

  }

  var rectAttr = 
  		{x:0,
  		y:0,
    	width: 20,
    	height: 20}

  var rectStyle=
  		{fill: function(d){return scale(d.numdata);},//function(d){return scale(d);},
    	stroke: "white",
    	"stroke-width": 2
    	}

  function insig(i){ //avginfo goes from 1-16 for averages, 0 index is id

    var body = d3.selectAll(document.getElementsByClassName("insignia"+i)).append("svg").attr("width",85).attr("height",85);

    
    body.selectAll("xyz1").data([{"numdata": {{avginfo|tojson}}[i][1],"qdata": {{qdat|tojson}}[i][1]}]).enter().append("rect").attr(rectAttr).attr("x",0).attr("y",0).style(rectStyle)
    .on("mouseover",opac)
    .on("mouseout",bopac);
    
    
    body.selectAll("xyz2").data([{"numdata": {{avginfo|tojson}}[i][2],"qdata": {{qdat|tojson}}[i][2]}]).enter().append("rect").attr(rectAttr).attr("x",20).attr("y",0).style(rectStyle)
    .on("mouseover",opac)
    .on("mouseout",bopac);
    
    body.selectAll("xyz3").data([{"numdata": {{avginfo|tojson}}[i][3],"qdata": {{qdat|tojson}}[i][3]}]).enter().append("rect").attr(rectAttr).attr("x",40).attr("y",0).style(rectStyle)
    .on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz4").data([{"numdata": {{avginfo|tojson}}[i][4],"qdata": {{qdat|tojson}}[i][4]}]).enter().append("rect").attr(rectAttr).attr("x",60).attr("y",0).style(rectStyle)
    .on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz5").data([{"numdata": {{avginfo|tojson}}[i][5],"qdata": {{qdat|tojson}}[i][5]}]).enter().append("rect").attr(rectAttr).attr("x",0).attr("y",20).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz6").data([{"numdata": {{avginfo|tojson}}[i][6],"qdata": {{qdat|tojson}}[i][6]}]).enter().append("rect").attr(rectAttr).attr("x",20).attr("y",20).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz7").data([{"numdata": {{avginfo|tojson}}[i][7],"qdata": {{qdat|tojson}}[i][7]}]).enter().append("rect").attr(rectAttr).attr("x",40).attr("y",20).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz8").data([{"numdata": {{avginfo|tojson}}[i][8],"qdata": {{qdat|tojson}}[i][8]}]).enter().append("rect").attr(rectAttr).attr("x",60).attr("y",20).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz9").data([{"numdata": {{avginfo|tojson}}[i][9],"qdata": {{qdat|tojson}}[i][9]}]).enter().append("rect").attr(rectAttr).attr("x",0).attr("y",40).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz10").data([{"numdata": {{avginfo|tojson}}[i][10],"qdata": {{qdat|tojson}}[i][10]}]).enter().append("rect").attr(rectAttr).attr("x",20).attr("y",40).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz11").data([{"numdata": {{avginfo|tojson}}[i][11],"qdata": {{qdat|tojson}}[i][11]}]).enter().append("rect").attr(rectAttr).attr("x",40).attr("y",40).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz12").data([{"numdata": {{avginfo|tojson}}[i][12],"qdata": {{qdat|tojson}}[i][12]}]).enter().append("rect").attr(rectAttr).attr("x",60).attr("y",40).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz13").data([{"numdata": {{avginfo|tojson}}[i][13],"qdata": {{qdat|tojson}}[i][13]}]).enter().append("rect").attr(rectAttr).attr("x",0).attr("y",60).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz14").data([{"numdata": {{avginfo|tojson}}[i][14],"qdata": {{qdat|tojson}}[i][14]}]).enter().append("rect").attr(rectAttr).attr("x",20).attr("y",60).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz15").data([{"numdata": {{avginfo|tojson}}[i][15],"qdata": {{qdat|tojson}}[i][15]}]).enter().append("rect").attr(rectAttr).attr("x",40).attr("y",60).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz16").data([{"numdata": {{avginfo|tojson}}[i][16],"qdata": {{qdat|tojson}}[i][16]}]).enter().append("rect").attr(rectAttr).attr("x",60).attr("y",60).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    
    
  }

  function myinsig(i){ //avginfo goes from 1-16 for averages, 0 index is id

    var body = d3.selectAll(document.getElementsByClassName("myinsignia"+i)).append("svg").attr("width",85).attr("height",85);

    body.selectAll("xyz1").data([{"numdata": {{ans|tojson}}[i][1],"qdata": {{qdat|tojson}}[i][1]}]).enter().append("rect").attr(rectAttr).attr("x",0).attr("y",0).style(rectStyle)
    .on("mouseover",opac)
    .on("mouseout",bopac);
    
    body.selectAll("xyz2").data([{"numdata": {{ans|tojson}}[i][2],"qdata": {{qdat|tojson}}[i][2]}]).enter().append("rect").attr(rectAttr).attr("x",20).attr("y",0).style(rectStyle)
    .on("mouseover",opac)
    .on("mouseout",bopac);
    
    body.selectAll("xyz3").data([{"numdata": {{ans|tojson}}[i][3],"qdata": {{qdat|tojson}}[i][3]}]).enter().append("rect").attr(rectAttr).attr("x",40).attr("y",0).style(rectStyle)
    .on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz4").data([{"numdata": {{ans|tojson}}[i][4],"qdata": {{qdat|tojson}}[i][4]}]).enter().append("rect").attr(rectAttr).attr("x",60).attr("y",0).style(rectStyle)
    .on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz5").data([{"numdata": {{ans|tojson}}[i][5],"qdata": {{qdat|tojson}}[i][5]}]).enter().append("rect").attr(rectAttr).attr("x",0).attr("y",20).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz6").data([{"numdata": {{ans|tojson}}[i][6],"qdata": {{qdat|tojson}}[i][6]}]).enter().append("rect").attr(rectAttr).attr("x",20).attr("y",20).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz7").data([{"numdata": {{ans|tojson}}[i][7],"qdata": {{qdat|tojson}}[i][7]}]).enter().append("rect").attr(rectAttr).attr("x",40).attr("y",20).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz8").data([{"numdata": {{ans|tojson}}[i][8],"qdata": {{qdat|tojson}}[i][8]}]).enter().append("rect").attr(rectAttr).attr("x",60).attr("y",20).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz9").data([{"numdata": {{ans|tojson}}[i][9],"qdata": {{qdat|tojson}}[i][9]}]).enter().append("rect").attr(rectAttr).attr("x",0).attr("y",40).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz10").data([{"numdata": {{ans|tojson}}[i][10],"qdata": {{qdat|tojson}}[i][10]}]).enter().append("rect").attr(rectAttr).attr("x",20).attr("y",40).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz11").data([{"numdata": {{ans|tojson}}[i][11],"qdata": {{qdat|tojson}}[i][11]}]).enter().append("rect").attr(rectAttr).attr("x",40).attr("y",40).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz12").data([{"numdata": {{ans|tojson}}[i][12],"qdata": {{qdat|tojson}}[i][12]}]).enter().append("rect").attr(rectAttr).attr("x",60).attr("y",40).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz13").data([{"numdata": {{ans|tojson}}[i][13],"qdata": {{qdat|tojson}}[i][13]}]).enter().append("rect").attr(rectAttr).attr("x",0).attr("y",60).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz14").data([{"numdata": {{ans|tojson}}[i][14],"qdata": {{qdat|tojson}}[i][14]}]).enter().append("rect").attr(rectAttr).attr("x",20).attr("y",60).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz15").data([{"numdata": {{ans|tojson}}[i][15],"qdata": {{qdat|tojson}}[i][15]}]).enter().append("rect").attr(rectAttr).attr("x",40).attr("y",60).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
    body.selectAll("xyz16").data([{"numdata": {{ans|tojson}}[i][16],"qdata": {{qdat|tojson}}[i][16]}]).enter().append("rect").attr(rectAttr).attr("x",60).attr("y",60).style(rectStyle).on("mouseover",opac).on("mouseout",bopac);
  }
   
  </script>

<div class="container-fluid">

<table class="table table-responsive table-hover">
	 <thead>
		 <tr>
			<th>Select</th>
			<th>Name</th>
			<th>ID</th>
			<th>Type</th> 
			<th>Description</th>
			<th># of Evaluations</th>
			<th>Insignia</th>
			<th>My answers</th>
		 </tr>
	 </thead>
	 <tbody>
	 <form action="/lwfairness/modifyevaluation" method="post" id="form1">
	 {% for i in range(pagecount-per_page,showlast) %}
		 <tr>
			 <td>
				 <div class="radio">
					 <label><input type="radio" id='res1' name="resourceid" value={{resources[i][0]}}></label>
				 </div>
			 </td>
			 <td>
			 <div class="radiotext">
				 <label for='res1'><a href={{resources[i][2]}} target="_blank"></a>{{resources[i][1]}}</label>
			 </div>
			 </td>
			 <td>
			 <div class="radiotext">
				 <label for='res1'>{{resources[i][0]}}</label>
			 </div>
			 </td>
			 <td>
			 <div class="radiotext">
				 <label for='res1'>{{resources[i][3]}}</label>
			 </div>
			 </td>
			 <td>
			 <div class="radiotext">
				 <label for='res1'>{{resources[i][4]}}</label>
			 </div>
			 </td>
			 <td>
			 <div class="radiotext">
				 <label for='res1'>{{listeval[i]}}</label>
			 </div>
			 </td>
			 <td class="tdinsig">
			 <div class="insignia{{i}}">
			 	<script>
					insig({{i}});
				</script>
			 </div>
			 </td>
			 <td class="tdmyinsig">
			 <div class="myinsignia{{i}}">
			 	<script>
					myinsig({{i}});
				</script>
			 </div>
			 </td>
		 </tr>
		 
	{% endfor %}
	</form>
	</tbody>
</table>
{% if totalres>0: %}
	<div class="form-actions">
		<button type="submit" class="btn btn-default" value="Submit" form="form1">Submit</button>
	</div>
{% endif %}

<div class="form-actions">
<form action='/lwfairness/myevaluations/page/{{page-1}}' method='get'>
	<button type="submit" class="btn btn-default" value="Back" id="back">Back</input>
</form>
</div>

<div class="form-actions">
<form action='/lwfairness/myevaluations/page/{{page+1}}' method='get'>
	<button type="submit" class="btn btn-default" value="Next" id="next">Next</input>
</form>
</div>





{% if current_user.is_authenticated %} <!-- acc footer -->
    	<div class="accmenu">
    	<div class="accmenuop">
    	<a href="/lwfairness/myaccount">Home</a>
    	</div>
    	<div class="accmenuop">
    	<a href="/lwfairness/acctmanagement">Settings</a>
		|
    	<a href="/lwfairness/logout">Logout</a>
    	</div>
   		</div>
{% endif %}

</div>
</body>
</html>