{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        table{table-layout:fixed;}

        h2 {
            padding-bottom: 10px;
        }

        #bottom-heading {
            padding-bottom: 20px;
        }

        .textfield {
            width: 90%;
            resize: none;
            overflow: auto;
        }

        .othercommentbox{
            margin-top:10px;
        }

        .cancelBtn{
            padding-top:20px;
        }
    </style>
{% endblock %}
{% block content %}

<script type="text/javascript">
    function clickAffirmative(obj) {
        if (!(obj.checked == "checked")) {
            document.getElementById(obj.name + 'urlcomment').style.display = 'inline';
            document.getElementById(obj.name + 'comment').style.display = 'inline';
        }
    }

    function clickNo(obj) {
        document.getElementById(obj.name + 'urlcomment').style.display = 'none';
        document.getElementById(obj.name + 'comment').style.display = 'none';
    }

    // check if all the URL comment boxes contain valid URLs, ignore if the radio button answer selected is 'no'
    function validateURL(){
        urlComments = document.getElementsByClassName('urlcommentbox');
        str=""
        bool=true;
        for (var i=0; i<urlComments.length ; i++){
            thisUrlComment = urlComments[i].value;
            if ((thisUrlComment!=="") && (document.getElementById('q'+(i+1)+'no').checked!==true)){
                //Remove leading/trailing whitespace, then check URLs separated by whitespace
                thisUrlComment = thisUrlComment.trim()
                thisUrlComment = thisUrlComment.replace(/\s\s+/g, ' ');
                thisUrlComment = thisUrlComment.split(/\s/);
                temp=true;
                for (var a=0;a<thisUrlComment.length;a++){
                    if (!(/^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/.test(thisUrlComment[a]))){
                        bool=false;
                        temp=false;
                    }
                }
                if (temp==false){ //if any of the whitespace-separated strings are not valid URLs, add this q to alert string
                    if (str==""){
                            str=str+(i+1);
                    } else {
                        str=str+", "+(i+1);
                    }
                }
            }
        }
        if (bool==false){ //alert
            alert('Invalid URL in question '+str);
            return false;
        } else {
            return confirm('Are you sure you want to submit?');
        }
    }

</script>
<div class="container-fluid">
    <h2 style="text-align: center;"><b>Evaluation:</b> <a href="{{ url }}" target="_blank">{{ resource_name }}</a></h2>
    <h4 style="text-align:center;"><b>ID:</b> {{ resource_id }} &nbsp; <b>Type:</b> {{ resource_type }}</h4>
    <h4 id="bottom-heading" style="text-align:center;"><b>Description:</b> {{ description }}</h4>
    <table class="table table-responsive">
        <thead>
        <th style="width:20%">Question</th>
        <th>Yes</th>
        <th>No</th>
        <th>Yes, but:</th>
        <th style="width:35%">Comments</th>
        {% if exampleArr %}
            <th style="width:35%">Example answers for
                {% if resource_type == 'Tool' %}
                    <a href="http://amp.pharm.mssm.edu/Harmonizome/">Harmonizome</a> tool</th>
                {% elif resource_type == 'Dataset' %}
                    <a href="http://lincsportal.ccs.miami.edu/datasets/#/view/LDS-1409">LDG-1348: LDS-1409</a> LINCS Data Portal Dataset</th>
                {% elif resource_type == 'Repository' %}
                    <a href="https://www.ebi.ac.uk/arrayexpress/">ArrayExpress</a> repository</th>
                {% endif %}
        {% endif %}
        </thead>
        <form action="/fairshake/evaluationsubmitted" id="evalForm" method="post" onsubmit="return validateURL()">
            <input type="hidden" name="resource_id" value={{ resource_id }}>
            <input type="hidden" name="formType" value="evalForm">
            <tbody>
            {% for w in range(sqnum) %}
                <tr>
                    <td>
                        {{ w+1}}. {{ setq[w][2] }}
                    </td>
                    <td>
                        <input type="radio" name="q{{ w+1}}" id="q{{ w+1}}yes" value="yes"
                               onclick="clickAffirmative(this)" required>
                    </td>
                    <td>
                        <input type="radio" name="q{{ w+1}}" id="q{{ w+1}}no" value="no" onclick="clickNo(this)">
                    </td>
                    <td>
                        <input type="radio" name="q{{ w+1}}" id="q{{ w+1}}yesbut" value="yesbut"
                                onclick="clickAffirmative(this)">
                    </td>
                    <td>
                        <textarea name="q{{w+1}}urlcomment" id="q{{w+1}}urlcomment" class="textfield urlcommentbox"
                                  placeholder="Enter URLs, if applicable and available. Separate URLs by spaces or new lines." rows="3"></textarea>
                        <textarea name="q{{w+1}}comment" id="q{{w+1}}comment" class="textfield othercommentbox"
                                  placeholder="Please explain or describe your answer." rows="5"></textarea>
                    </td>
                    {% if exampleArr %}
                        <td>
                            {% for i in range(exampleArr[w][0]|length) %}
                                <a style="word-wrap:break-word;" href="{{exampleArr[w][0][i]}}">{{ exampleArr[w][0][i] }}</a>
                            {% endfor %}
                            <p>{{ exampleArr[w][1] }}</p>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </form>
    </table>
    <div class="submitBtn">
        <button class="btn btn-default" type="submit" form="evalForm" value="Submit">Submit</button>
    </div>
    <form action="/fairshake/evaluationsubmitted" id="cancelForm" method="post">
        <input type="hidden" name="resource_id" value={{ resource_id }}>
        <input type="hidden" name="formType" value="cancelForm">
    </form>
    <div class="cancelBtn">
        <button class="btn btn-default" type="submit" form="cancelForm" value="Cancel">Cancel</button>
    </div>
</div>

<script>
    var commentBoxes = document.getElementsByClassName('textfield');
    for (var i = 0; i < commentBoxes.length; i++) {
        commentBoxes[i].style.display = 'none';
    }
</script>

{% endblock %}