{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .projecthead {
            padding: 30px;
        }

        .projectimg {
            max-width: 100%;
            max-height:100%;
            height: auto;
            width: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
        }

        .panel {
            height: 340px;
        }

        p {
            font-size: 11.5px;
            color: gray;
        }

        #xyz2 {
            position: absolute;
            right: 30px;
            bottom: 38px;
        }

        #picContainer {
            height: 150px;
            position: relative;
        }

    </style>
{% endblock %}
{% block header %}
    <!-- Change active tab -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <a id="navbar-logo" class="navbar-brand" href="/" style="display: table;">
                <img src="/static/img/icon-32.png"
                     style="display: table-cell; vertical-align: middle; margin-right: 10px;">
                <div style="display: table-cell; vertical-align: middle;">FAIRshake</div>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li class="active">
                <a href="/projects" class="headx">Projects</a></li>
            <li>
                <a href="/startproject" class="headx">Start a Project</a></li>
            <li>
                <a href="/chromeextension" class="headx">Install Chrome Extension</a></li>
            <li>
                    <a href="/bookmarklet" class="headx">Install Bookmarklet</a></li>
            {% if current_user.is_authenticated %}
                <li>
                    <a href="/evaluatedprojects" class="headx">Evaluated Projects</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if not current_user.is_authenticated %}
                <li>
                    <a href="/login" class="headx">Login</a></li>
                <li>
                    <a href="/register" class="headx">Sign up</a></li>
            {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle headx" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ current_user.first_name }}</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/evaluatedprojects">Evaluated Projects</a></li>
                        <li>
                            <a href="/settings">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="/logout">Logout</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <h3 class="projecthead text-left">Projects</h3>

        <div class="row">
            {% for i in range(projectlist|length) %}
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <a href="/project/{{ projectlist[i][0] }}/resources">
                                <div onmouseover="overicon(this)" onmouseout="leaveicon(this)" id="picContainer">
                                    <img class="projectimg" src="{{ projectlist[i][3] }}">
                                </div>
                            </a>
                            <div class="caption text-left">
                                <h5 class="projecttitle">{{ projectlist[i][1] }}</h5>
                                <p>{{ projectlist[i][2] }}</p>
                            </div>

                        </div>
                        <form action="/project/{{ projectlist[i][0] }}/resources" method="get" id="xyz1">
                            <button type="submit" class="btn btn-default btn-sm" id="xyz2">Evaluate</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function overicon(pic) {
            pic.style.opacity = .7;
        }
        function leaveicon(pic) {
            pic.style.opacity = 1;
        }
    </script>

{% endblock %}