{% extends "base.html" %}

{% load i18n %}

{% block style %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'style/providers.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
<h1>{% trans 'My Account' %}</h1>

<ul class="nav nav-tabs">
  <li class="{% block account_nav_email %}{% endblock %}">
    <a href="{% url 'account_email' %}">{% trans 'E-mail Addresses' %}</a>
  </li>
  <li class="{% block account_nav_change_password %}{% endblock %}">
    <a href="{% url 'account_change_password' %}">{% trans 'Change Password' %}</a>
  </li>
  {% url 'socialaccount_connections' as connections_url %}
  {% if connections_url %}
  <li class="{% block account_nav_socialaccount_connections %}{% endblock %}">
    <a href="{{ connections_url }}">{% trans 'Connected Accounts' %}</a>
  </li>
  {% endif %}
  <li class="{% block account_nav_delete %}{% endblock %}">
    <a href="{% url 'account_delete' %}">{% trans 'Delete Account' %}</a>
  </li>
  <li class="{% block account_nav_api_access %}{% endblock %}">
    <a href="{% url 'account_api_access' %}">{% trans 'API Access' %}</a>
  </li>
</ul>
{% block account_content %}
{% endblock %}
</div>
{% endblock %}
