.footerLink {
    color: #666666;
}

.headx {
    font-size: 14px;
    padding: 22px 12px !important;
}

.container-fluid {
    width: 992px !important;
    padding-bottom: 100px;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 160px;
    font-family: 'Open Sans', sans-serif;
}

#footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 110px;
    background-color: #f7f7f7;
}

.navbar-right {
    padding-right: 20px;
}

.footer-block {
    margin: 20px;
}

p {
    font-size: 11.5px;
    color: gray;
}

h1 {
    padding: 30px;
}

.image-container {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:10px;
}

.image-container img {
    position:relative;
    top:0;
    left:0;
    max-width: 90%;
    max-height: 90%;
    vertical-align: middle;
}

.insignia {
    display: none;
}

.insignia.embed-image {
    position: absolute;
    top: 10px;
    right: 25px;
    box-shadow: 0 0 4px 4px white;
}

.tippy-tooltip {
    font-size: 10pt !important;
    text-align: left;
}

.item-title {
    font-size: 13px;
}

.label {
    margin: 3px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.image-link {
    height: 100%;
    width: 100%;
}