html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 160px;
    font-family: 'Open Sans', sans-serif;
}

.panel p {
    font-size: 11.5px;
    color: gray;
}

h1 {
    padding: 30px;
}

.navbar-nav a {
    font-size: 14px;
    padding: 22px 12px !important;
}

.dropdown-menu a {
    padding: 5px 10px !important;
}

.navbar-right {
    padding-right: 20px;
}

#footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 110px;
    background-color: #f7f7f7;
}

#footer a {
    color: #666666;
}

.footer-block {
    margin: 20px;
}

.image-container {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:10px;
}

.image-container img {
    position:relative;
    top:0;
    left:0;
    max-width: 90%;
    max-height: 90%;
    vertical-align: middle;
}

.insignia {
    display: none;
}

.insignia.embed-image {
    position: absolute;
    top: 10px;
    right: 25px;
    box-shadow: 0 0 4px 4px white;
}

.tippy-tooltip {
    font-size: 10pt !important;
    text-align: left;
}

.item-title {
    font-size: 13px;
}

.label {
    margin: 3px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.image-link {
    height: 100%;
    width: 100%;
}

.bookmarklet-btn {
    padding-left: 50px;
}

.project-head {
    padding: 30px;
}

.project-image-container {
    height: 530px;
    position: relative;
}

.install-instructions {
    padding: 30px 0px 50px 50px;
}

.install-instructions ol {
    padding-left: 20px;
}

.carousel-head {
    padding-left: 50px;
}

.carousel {
    margin-top: 0px;
    width: 900px;
    margin: 0 auto;
}

.carousel-control.left {
    background: none !important;
}

.carousel-control.right {
    background: none !important;
}

.carousel .item {
    min-height: 550px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}

.carousel .item img {
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.carousel-container {
    margin: 20px;
}

.carousel-indicators li {
    background-color:#dddddd;
}

.carousel-indicators .active {
    background-color:#a8a8a8;
}

.glyphicon-chevron-left {
    color: dimgray;
}

.glyphicon-chevron-right {
    color: dimgray;
}

/* FROM https://loading.io/css/ */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #00f;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* END https://loading.io/css/ */