.socialaccount_providers {
  list-style: none;
}
.socialaccount_provider {
  display: inline;
}
.socialaccount_provider.github::before {
  display: block;
  content: url('/static/v2/image/socialaccount/github.png');
}
.socialaccount_provider.orcid::before {
  display: block;
  content: url('/static/v2/image/socialaccount/orcid.png');
}
