.socialaccount_providers {
  list-style: none;
}
.socialaccount_provider {
  display: inline;
}
.socialaccount_provider.github {
  display: block;
  content: url('/v2/static/image/socialaccount/github.png');
}
.socialaccount_provider.orcid {
  display: block;
  content: url('/v2/static/image/socialaccount/orcid.png');
  padding: 10px;
}
.socialaccount_provider.globus {
  display: block;
  content: url('/v2/static/image/socialaccount/globus.png');
  padding: 10px;
}
